<nav class="navbar navbar-expand-md bg-dark navbar-dark">
    <div class="container">
        <a href="index" class="navbar-brand">Anasayfa</a>
        <div class="dropdown">
            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                Matematik
            </button>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                <li><a class="dropdown-item" href="mat1">1. Ünite - Doğal Sayılar</a></li>
                <li><a class="dropdown-item" href="mat2">2. Ünite - Toplama ve Çıkarma İşlemleri</a></li>
                <li><a class="dropdown-item" href="mat3">3. Ünite - Çarpma ve Bölme İşlemleri</a></li>
                <li><a class="dropdown-item" href="mattest">Matematik Sınavı</a></li>
            </ul>
        </div>
        <div class="dropdown">
            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton2" data-bs-toggle="dropdown" aria-expanded="false">
                Fen Bilimleri
            </button>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                <li><a class="dropdown-item" href="fen1">1. Ünite - Yer Kabuğu ve Dünyamızın Hareketleri</a></li>
                <li><a class="dropdown-item" href="fen2">2. Ünite - Besinlerimiz, Canlılar ve Yaşam</a></li>
                <li><a class="dropdown-item" href="fen3">3. Ünite - Kuvvetin Etkileri ve Fiziksel Olaylar</a></li>
                <li><a class="dropdown-item" href="fentest">Fen Bilimleri Sınavı</a></li>
            </ul>
        </div>
        <div class="dropdown">
            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton3" data-bs-toggle="dropdown" aria-expanded="false">
                English
            </button>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                <li><a class="dropdown-item" href="eng1">Unit-1 Classroom Rules</a></li>
                <li><a class="dropdown-item" href="eng2">Unit-2 Nationality</a></li>
                <li><a class="dropdown-item" href="eng3">Unit-3 Cartoon Characters</a></li>
                <li><a class="dropdown-item" href="engtest">English Exam</a></li>
            </ul>
        </div>
        <div class="dropdown">
            <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenuButton4" data-bs-toggle="dropdown" aria-expanded="false">
                Hey
            </button>
            <ul class="dropdown-menu bg-danger" aria-labelledby="dropdownMenuButton5">
                <li><a class="dropdown-item bg-danger" href="#">Çıkış Yap</a></li>
            </ul>
        </div>
    </div>
</nav>