html{
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.parent {
  margin: 1rem;
  padding: 2rem 2rem;
  text-align: center;
}

.child {
  display: inline-block;
  padding: 1rem 1rem;
  vertical-align: middle;
}

.center {
  text-align: center;
  list-style-position: inside;
}

.boldCenter {
text-align: center;
list-style-position: inside;
font-weight: bold;
}

.inlineBlocks{
  width: 20%;
  float: left;
  margin: auto;
}

.endOfUnitParagraph{
  font-size: 32pt;
  font-weight: bold;
  text-align: center;
}
table, tr, td, th{
border: 1pt solid;
margin: auto;
}

.trueFalse{
font-weight: bold;
}

.sidebar{
display: flex;
float: right;
height:100vh
}

.verticalCenter{
position: fixed;
top: 50%;
right: 1em;
transform: translate(-50%, -50%);
}

ul {
list-style-position: inside;
}

.overlay{
position:relative;
color: white;
justify-content: center;
align-items: center;
height: 92.5vh;
/*
background-position: top center;
*/
}

.overlay::before{
content: '';
position: absolute;
top: 0px;
right: 0px;
left: 0px;
bottom: 0px;
background-image: url('images/mat_images/lofi.jpg');;
background-size: cover;
z-index:-1;
filter: brightness(30%); 
}

a{
font-weight: bold;
}
