<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>English Unit 3</title>
    <link rel="stylesheet" href="/stylesheets/style.css">
</head>

<body>
    <h1>English Unit 3</h1>
    <h2>Cartoon Characters</h2>
    <section class="practice">
        <h3>1. Look at the picture and choose the correct word.</h3>
        <img src="/images/eng_images/English-3,1.1.png" alt="">
        <p>I can play <select name="sports" id="">
                <option value="basketball">basketball</option>
                <option value="volleyball">volleyball</option>
                <option value="football">football</option>
            </select>.</p>
    </section>
    <section class="practice">
        <h3>2. </h3>
    </section>
    <button><a href="English-2.html">Previous Unit</a></button>
    <button><a href="LandingPage.html">Other Classes</a></button>
    <button><a href="EnglishTest.html">Take the Test</a></button>
</body>

</html>