<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>English Unit 3</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <link rel="stylesheet" href="/stylesheets/style.css">
    <link rel="icon" href="images/mat_images/rainbow.png">
    <script src="/javascripts/English.js"></script>
</head>
<body>
    <nav class="navbar navbar-expand-md bg-dark navbar-dark">
        <div class="container">
            <a href="index" class="navbar-brand">Anasayfa</a>
            <div class="dropdown">
                <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                  Matematik
                </button>
                <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                  <li><a class="dropdown-item" href="mat1">1. Ünite - Doğal Sayılar</a></li>
                  <li><a class="dropdown-item" href="mat2">2. Ünite - Toplama ve Çıkarma İşlemleri</a></li>
                  <li><a class="dropdown-item" href="mat3">3. Ünite - Çarpma ve Bölme İşlemleri</a></li>
                  <li><a class="dropdown-item" href="mattest">Matematik Sınavı</a></li>
                </ul>
            </div>
            <div class="dropdown">
                <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                  Fen Bilimleri
                </button>
                <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                  <li><a class="dropdown-item" href="fen1">1. Ünite - Yer Kabuğu ve Dünyamızın Hareketleri</a></li>
                  <li><a class="dropdown-item" href="fen2">2. Ünite - Besinlerimiz, Canlılar ve Yaşam</a></li>
                  <li><a class="dropdown-item" href="fen3">3. Ünite - Kuvvetin Etkileri ve Fiziksel Olaylar</a></li>
                  <li><a class="dropdown-item" href="fentest">Fen Bilimleri Sınavı</a></li>
                </ul>
            </div>
            <div class="dropdown">
                <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                  English
                </button>
                <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                  <li><a class="dropdown-item" href="eng1">Unit-1 Classroom Rules</a></li>
                  <li><a class="dropdown-item" href="eng2">Unit-2 Nationality</a></li>
                  <li><a class="dropdown-item" href="eng3">Unit-3 Cartoon Characters</a></li>
                  <li><a class="dropdown-item" href="engtest">English Exam</a></li>
                </ul>
            </div>
            <div>
                <button type="button" class="btn btn-warning">Kayıt Ol</button>
                <button type="button" class="btn btn-success">Giriş Yap</button>
            </div>
        </div>
    </nav>
    <div class="parent">
        <h1>English Unit 3</h1>
        <h2>Cartoon Characters</h2>
        <div class="parent">
            <h3>1. Look at the picture and choose the correct word.</h3>
            <img src="/images/eng_images/English-3,1.1.png" alt="">
            <p>I can play <select name="" id="s11" onchange="practice31('s11')">
                    <option hidden disabled selected value>--select--</option>
                    <option value="basketball">basketball</option>
                    <option value="volleyball">volleyball</option>
                    <option value="football">football</option>
                </select>.</p>
                <p id="p11"></p>
        </div>
        <div class="parent">
            <h3>2. Read and select the correct words.</h3>
            <div class="parent">
              <div >
                <img src="/images/eng_images/English-3,2.1.png" alt="">
                <p>Hi, <select name="" id="s21" onchange="practice32('s21')"><option hidden disabled selected value>--select--</option><option value="our">our</option>
                <option value="my">my</option>
                <option value="your">your</option></select> name is Linda.</p>
                <p id="p21"></p>
                <p>Look at <select name="" id="s22" onchange="practice32('s22')"><option hidden disabled selected value>--select--</option>
                <option value="her">her</option>
                <option value="my">my</option>
                <option value="your">your</option></select> hands.</p>
                <p id="p22"></p>
              </div>
              <div >
                <img src="/images/eng_images/English-3,2.2.png" alt="">
                <p>She's <select name="" id="s23" onchange="practice32('s23')"><option hidden disabled selected value>--select--</option>
                <option value="their">their</option>
                <option value="my">my</option>
                <option value="his">his</option></select> best friend, Clara.</p>
                <p id="p23"></p>
                <p>This is <select name="" id="s24" onchange="practice32('s24')"><option hidden disabled selected value>--select--</option>
                <option value="his">his</option>
                <option value="her">her</option>
                <option value="its">its</option></select> dog.</p>
                <p id="p24"></p>
              </div>
              <div >
                <img src="/images/eng_images/English-3,2.3.png" alt="">
                <p>He is <select name="" id="s25" onchange="practice32('s25')"><option hidden disabled selected value>--select--</option>
                <option value="their">their</option>
                <option value="your">your</option>
                <option value="my">my</option></select> brother, Martin.</p>
                <p id="p25"></p>
                <p>He can play basketball well.</p>
              </div>
              <div >
                <img src="/images/eng_images/English-3,2.4.png" alt="">
                <p>This is our music class and he is <select name="" id="s26" onchange="practice32('s26')"><option hidden disabled selected value>--select--</option>
                <option value="our">our</option>
                <option value="your">your</option>
                <option value="his">his</option></select> music teacher, Mr. Kent.</p>
                <p id="p26"></p>
                <p>Can you see <select name="" id="s27" onchange="practice32('s27')"><option hidden disabled selected value>--select--</option>
                <option value="my">my</option>
                <option value="his">his</option>
                <option value="her">her</option></select> guitar?</p>
                <p id="p27"></p>
                <p>He can play the guitar very well.</p>
              </div>
              <div >
                <img src="/images/eng_images/English-3,2.5.png" alt="">
                <p>My friends and I are in <select name="" id="s28" onchange="practice32('s28')"><option hidden disabled selected value>--select--</option>
                <option value="our">our</option>
                <option value="her">her</option>
                <option value="his">his</option></select> classroom.</p>
                <p id="p28"></p>
                <p><select name="" id="s29" onchange="practice32('s29')"><option hidden disabled selected value>--select--</option>
                <option value="Its">Its</option>
                <option value="Their">Their</option>
                <option value="Our">Our</option></select> names are Pam, Helen, Mark and Philip.</p>
                <p id="p29"></p>
              </div>
            </div>
            <div class="parent">
              <h3>3. Read and select the correct words.</h3>
              <div >
                <img src="/images/eng_images/English-3,2.6.png" alt="">
                <p>She <select name="" id="s31" onchange="practice33('s31')"><option hidden disabled selected value>--select--</option>
                <option value="can">can</option>
                <option value="can't">can't</option></select> jump.</p>
                <p id="p31"></p>
              </div>
              <div>
                <img src="/images/eng_images/English-3,2.7.png" alt="">
                <p>She <select name="" id="s32" onchange="practice33('s32')"><option hidden disabled selected value>--select--</option>
                <option value="can">can</option>
                <option value="can't">can't</option></select> drive a car.</p>
                <p id="p32"></p>
              </div>
              <div>
                <img src="/images/eng_images/English-3,2.8.png" alt="">
                <p>He <select name="" id="s33" onchange="practice33('s33')"><option hidden disabled selected value>--select--</option>
                <option value="can">can</option>
                <option value="can't">can't</option></select> ride a bike.</p>
                <p id="p33"></p>
              </div>
              <div>
                <img src="/images/eng_images/English-3,2.9.png" alt="">
                <p>She <select name="" id="s34" onchange="practice33('s34')"><option hidden disabled selected value>--select--</option>
                  <option value="can">can</option>
                  <option value="can't">can't</option></select> speak.</p>
                  <p id="p34"></p>
              </div>
              <div>
                <img src="/images/eng_images/English-3,2.10.png" alt="">
                <p>She <select name="" id="s35" onchange="practice33('s35')"><option hidden disabled selected value>--select--</option>
                  <option value="can">can</option>
                  <option value="can't">can't</option></select> climb a tree.</p>
                  <p id="p35"></p>
              </div>
              <div>
                <img src="/images/eng_images/English-3,2.11.png" alt="">
                <p>It <select name="" id="s36" onchange="practice33('s36')"><option hidden disabled selected value>--select--</option>
                  <option value="can">can</option>
                  <option value="can't">can't</option></select> fly.</p>
                  <p id="p36"></p>
              </div>
              <div>
                <img src="/images/eng_images/English-3,2.12.png" alt="">
                <p>He <select name="" id="s37" onchange="practice33('s37')"><option hidden disabled selected value>--select--</option>
                  <option value="can">can</option>
                  <option value="can't">can't</option></select> dive.</p>
                  <p id="p37"></p>
              </div>
              <div>
                <img src="/images/eng_images/English-3,2.13.png" alt="">
                <p>She <select name="" id="s38" onchange="practice33('s38')"><option hidden disabled selected value>--select--</option>
                  <option value="can">can</option>
                  <option value="can't">can't</option></select> paint well.</p>
                  <p id="p38"></p>
              </div>
            </div>
        </div>
    </div>
    <div class="parent">
        <a href="eng2" class="btn btn-primary" role="button">English Unit 2</a>
        <a href="index" class="btn btn-dark" role="button">Main Page</a>
        <a href="engtest" class="btn btn-primary" role="button">English Test</a>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
</body>
</html>