<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Matematik 1. Ünite</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <link rel="stylesheet" href="/stylesheets/style.css">
    <link rel="icon" href="images/mat_images/rainbow.png">
    <script>
        function logout(){
            xhr.open("post", "index", true);
            xhr.setRequestHeader('Content-Type', 'application/json');
            xhr.send();
        }
    </script>
    <script src="./routes/index_router.js"></script>
</head>
<body>
    <nav class="navbar navbar-expand-md bg-dark navbar-dark">
        <div class="container">
            <a href="index" class="navbar-brand">Anasayfa</a>
            <div class="dropdown">
                <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                  Matematik
                </button>
                <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                  <li><a class="dropdown-item" href="mat1">1. Ünite - Doğal Sayılar</a></li>
                  <li><a class="dropdown-item" href="mat2">2. Ünite - Toplama ve Çıkarma İşlemleri</a></li>
                  <li><a class="dropdown-item" href="mat3">3. Ünite - Çarpma ve Bölme İşlemleri</a></li>
                  <li><a class="dropdown-item" href="mattest">Matematik Sınavı</a></li>
                </ul>
            </div>
            <div class="dropdown">
                <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                  Fen Bilimleri
                </button>
                <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                  <li><a class="dropdown-item" href="fen1">1. Ünite - Yer Kabuğu ve Dünyamızın Hareketleri</a></li>
                  <li><a class="dropdown-item" href="fen2">2. Ünite - Besinlerimiz, Canlılar ve Yaşam</a></li>
                  <li><a class="dropdown-item" href="fen3">3. Ünite - Kuvvetin Etkileri ve Fiziksel Olaylar</a></li>
                  <li><a class="dropdown-item" href="fentest">Fen Bilimleri Sınavı</a></li>
                </ul>
            </div>
            <div class="dropdown">
                <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                  English
                </button>
                <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                  <li><a class="dropdown-item" href="eng1">Unit-1 Classroom Rules</a></li>
                  <li><a class="dropdown-item" href="eng2">Unit-2 Nationality</a></li>
                  <li><a class="dropdown-item" href="eng3">Unit-3 Cartoon Characters</a></li>
                  <li><a class="dropdown-item" href="engtest">English Exam</a></li>
                </ul>
            </div>
            <div class="dropdown">
                <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                    <%= name%>
                </button>
                <ul class="dropdown-menu bg-danger" aria-labelledby="dropdownMenuButton1">
                    <li><a class="dropdown-item bg-danger" href="login" onclick="logout()">Çıkış Yap</a></li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="parent">
        <h1>4.Sınıf Matematik Dersi - 1. Ünite</h1>
        <div>
            <h1 class="bg-secondary">Doğal Sayılar</h1>
            <h2 class="bg-warning">1. Dört Basamaklı Sayılar</h2>
        </div>
        <div>
            <h3 class="bg-success">HATIRLAYALIM</h3>
            <img src="images/mat_images/Matematik1-1.png" alt="">
        </div>
        <div>
            <h3 class="bg-danger">ÖĞRENELİM</h3>
            <p>Geçen seneden bildiğin üç basamaklı en büyük doğal sayı olan 999 sayısının bir fazlası ile oluşan sayı 1000 (bin) olarak adlandırılır.</p>
            <p class="center">999 + 1 = 1000</p>
            <p>Dört rakamın yan yana gelerek oluşturduğu sayılara dört basamaklı doğal sayılar denir. Bu sayılarda birler, onlar, yüzler ve binler basamakları bulunur.</p>
            <img src="images/mat_images/Matematik1-2.png" alt="bilgi bulutu" class="center">
            <p>Dört basamaklı doğal sayıları günlük hayatımızda pek çok yerde kullanırız. Bu sayılar alışverişlerde, maaş tutarlarında, mahallelerin nüfus verilerinde tarihlerde karşımıza çıkar.</p>
            <img src="images/mat_images/Matematik1-3.png" alt=""> 
            <img src="images/mat_images/Matematik1-4.png" alt="">
        </div>
        <div>
            <p><b>1. </b>Kızılırmak Nehri 1355 km uzunluğundadır. 1255 sayısının taban bloaklarıyla gösterilişini inceleyelim.</p>
            <img src="images/mat_images/Matematik1-5.png" alt="">
        </div>
        <div>
            <p><b>2. </b>Türkiye'deki güneş enerjisi santrallerinin sayısı 1043'tür. 1043 sayısı 4 basamaklı bir doğal sayıdır.</p>
            <img src="images/mat_images/Matematik1-6.png" alt="">
        </div>
        <div>
            <p><b>3. </b>Arda'nın okul numarası olan 5639 sayısının abaküs üzerinde gösterilişini inceleyelim.</p>
            <img src="images/mat_images/Matematik1-7.png" alt="">
            <br>
            <img src="images/mat_images/Matematik1-8.png" alt="">
            <table class="table table-success table-striped">
                <tr>
                    <th>Sayı</th>
                    <td colspan="4">5639</td>
                </tr>
                <tr>
                    <th>Basamak İsimleri</th>
                    <td>Binler Basamağı</td>
                    <td>Yüzler Basamağı</td>
                    <td>Onlar Basamağı</td>
                    <td>Birler Basamağı</td>
                </tr>
                <tr>
                    <th>Rakamların Basamak Değerleri</th>
                    <td>5000</td>
                    <td>600</td>
                    <td>30</td>
                    <td>9</td>
                </tr>
                <tr>
                    <th>Sayının Okunuşu</th>
                    <td colspan="4">Beş bin altı yüz otuz dokuz</td>
                </tr>
                <tr>
                    <th>Sayının Çözümlemesi</th>
                    <td colspan="4">5000 + 600 + 30 + 9</td>
                </tr>
            </table>
        </div>
        <div>
            <p><b>4. </b>Aşağıdaki dört basamaklı doğal sayıların okunuş ve yazılışlarını inceleyelim.</p>
            <ul class="list-group">
                <li class="list-group-item">1365: Bin üç yüz altmış beş</li>
                <li class="list-group-item">4027: Dört bin yirmi yedi</li>
                <li class="list-group-item">3610: Üç bin altı yüz on</li>
                <li class="list-group-item">8559: Sekiz bin beş yüz elli dokuz</li>
                <li class="list-group-item">4000: Dört bin</li>
                <li class="list-group-item">5802: Beş bin sekiz yüz iki</li>
                <li class="list-group-item">6308: Altı bin üç yüz sekiz</li>
                <li class="list-group-item">7414: Yedi bin dört yüz on dört</li>
            </ul>
        </div>
        
        <h2 class="bg-warning">2. Doğal Sayılarda Bölük Kavramı</h2>
        <div>
            <h3 class="bg-danger">ÖĞRENELİM</h3>
            <p>Dört ve daha fazla basamağı olan sayıların okunuşunu kolaylaştırmak için sayı bölüklerini kullanabiliriz. Bir tam sayının, sağdan sola doğru üçer üçer ayrılan basamaklarından her bir üçlü takıma bölük denir.</p>
            <img src="" alt="">
            <p>Dört basamaklı bir sayının birler bölüğünde birler, onlar ve yüzler basamağı bulunur. Binler bölüğünde ise binler basamağı yer almaktadır.</p>
            <table class="table table-success table-striped">
                <tr>
                    <th>Sayı</th>
                    <td colspan="5">5989</td>
                </tr>
                <tr>
                    <th>Bölük Adları</th>
                    <td>Binler Bölüğü</td>
                    <td colspan="3">Birler Bölüğü</td>
                </tr>
                <tr>
                    <th>Basamak Adları</th>
                    <td>Binler Basamağı</td>
                    <td>Yüzler Basamağı</td>
                    <td>Onlar Basamağı</td>
                    <td>Birler Basamağı</td>
                </tr>
                <tr>
                    <th>Rakamların Basamak Değerleri</th>
                    <td>5000</td>
                    <td>900</td>
                    <td>80</td>
                    <td>9</td>
                </tr>
                <tr>
                    <th>Sayının Okunuşu</th>
                    <td colspan="5">Beş bin dokuz yüz seksen dokuz</td>
                </tr>
            </table>
        </div>
        <div>
            <img src="images/mat_images/Matematik1-10.png" alt="bilgi bulutu">
        </div>
        <div>
            <h2 class="bg-warning">3. Beş Basamaklı Doğal Sayılar</h2>
        </div>
        <div>
            <h3 class="bg-danger">ÖĞRENELİM</h3>
            <p>Dört basamaklı sayılarn en büyüğü olan 9999 sayısının bir fazları ile oluşan sayı 10000 (on bin) olarak adlandırılır.</p>
            <p class="center">9999 + 1 = 10000</p>
            <p>Beş rakamın yan yana gelerek oluşturduğu sayılara beş basamaklı doğal sayılar denir. Bu sayılarda birler, onlar, yüzler, binler ve on binler basamakları bulunur</p>
            <img src="images/mat_images/Matematik1-11.png" alt="bilgi bulutu">
            <p>Beş basamaklı doğal sayılar bazı araç ve ev fiyatlarında, il ve ilçe nüfus verilerinde karşımıza çıkabilir.</p>
            <img src="images/mat_images/Matematik1-12.png" alt="ev ve nüfus verileri">
            <div>
                <p><b>1. </b>Bir tren yıl boyunca, 48 326 yolcu taşımıştır. Bu sayının basamak tablosunda gösterilişini inceleyelim</p>
                <img src="images/mat_images/Matematik1-13.png" alt="tren ve yolcu sayısı">
            </div>
        <div>
            <p><b>2. </b>İstanbul-Ankara hava yolu seferini gerçekleştiren uçak, 34152 sefer sayısı ile uçmaktadır. Bu sayının abaküs üzerinde gösterilişini inceleyelim.</p>
            <img src="images/mat_images/Matematik1-14.png" alt="otobüs verisi abaküste">
            <br>
            <img src="images/mat_images/Matematik1-15.png" alt="bilgi bulutu">
        </div>
        <div>
            <p><b>3. </b>Bir derginin aylık basım adedi olan 30217 sayısını bölüklerine ayırarak inceleyelim.</p>
            <table class="table table-success table-striped">
                <tr>
                    <th>Sayı</th>
                    <td colspan="5">30217</td>
                </tr>
                <tr>
                    <th>Bölük Adları</th>
                    <td colspan="2">Binler Bölüğü</td>
                    <td colspan="3">Birler Bölüğü</td>
                </tr>
                <tr>
                    <th>Basamak Adları</th>
                    <td>On Binler Basamağı</td>
                    <td>Binler Basamağı</td>
                    <td>Yüzler Basamağı</td>
                    <td>Onlar Basamağı</td>
                    <td>Birler Basamağı</td>
                </tr>
                <tr>
                    <th>Rakamların Basamak Değeri</th>
                    <td>30000</td>
                    <td>0</td>
                    <td>200</td>
                    <td>10</td>
                    <td>7</td>
                </tr>
                <tr>
                    <th>Sayının Okunuşu</th>
                    <td colspan="5">Otuz bin iki yüz on yedi</td>
                </tr>
                <tr>
                    <th>Sayının Çözümlemesi</th>
                    <td colspan="5">3000 + 0 + 200 + 10 +7</td>
                </tr>
            </table>
            <img src="images/mat_images/Matematik1-16.png" alt="bilgi bulutu">
        </div>
        <div>
            <p><b>4. </b>Aşağıdaki beş basamaklı doğal sayıların okunuş ve yazılışlarını inceleyelim.</p>
            <ul class="list-group">
                <li class="list-group-item">48 221: Kırk sekiz bin iki yüz yirmi bir</li>
                <li class="list-group-item">70 125: Yetmiş bin yüz yirmi beş</li>
                <li class="list-group-item">92 070: Doksan iki bin yetmiş</li>
                <li class="list-group-item">11 250: On bir bin iki yüz elli</li>
                <li class="list-group-item">16 932: On altı bin dokuz yüz otuz iki</li>
                <li class="list-group-item">27 484: Yirmi yedi bin dört yüz seksen dört</li>
            </ul>
        </div>
        </div>
        </div>
        <div class="parent">
            <h2 class="bg-warning">4. Altı Basamaklı Doğal Sayılar</h2>
            <div>
                <h3 class="bg-danger">ÖĞRENELİM</h3>
                <p>Önceki derslerde öğrendiğin beş basamaklı dğal sayıların en büyüğü olan 99 999 sayısının bir fazlası ile oluşan 100 000 (yüz bin) olarak adlandırılır.</p>
                <p class="center">99 999 + 1 = 100 000</p>
                <p>Altı rakamın yan yana gelerek oluşturduğu sayılara altı basamaklı doğal sayılar denir. Bu sayılarda birler, onlar, yüzler, binler, on binler, yüz binler basamakları bulunur</p>
                <img src="images/mat_images/Matematik1-17.png" alt="bilgi bulutu">
                <p>Günlük yaşantımızda altı basamaklı doğal sayıları bazı eve ve araç fiyatlarında, bazı illerin nüfus verilerinde, bankalardaki hesap numaralarında ve çeşitli şifrelerde görebiliriz.</p>
            </div>
            <div>
                <p><b>1. </b>Bir ilçede dönem boyunca dağıtılan "Okul Sütü" sayısı 524 928'di. Bu sayının basamak tablosunda gösterilişini inceleyelim.</p>
                <img src="images/mat_images/Matematik1-18.png" alt="sayı">
            </div>
            <div>
                <p><b>2. </b>2017 nüfus sayımı verilerine göre Muğla'nın nüfusu 923 733'tür. Bu sayının abaküs üzerinde gösterilişini inceleyelim.</p>
                <img src="images/mat_images/Matematik1-19.png" alt="bilgi bulutu">
            </div>
            <div>
                <p><b>3. </b>Aysu Öğretmen'in banka hesap numarası 791 205'tir. Bu sayının basamak tablosunda gösterilişini inceleyelim.</p>
                <table class="table table-success table-striped">
                    <tr>
                        <th>Sayı</th>
                        <td colspan="6">791 205</td>
                    </tr>
                    <tr>
                        <th>Bölük Adları</th>
                        <td colspan="3">Binler Bölüğü</td>
                        <td colspan="3">Birler BÖlüğü</td>
                    </tr>
                    <tr>
                        <th>Basamak Adları</th>
                        <td>Yüz Binler Basamağı</td>
                        <td>On Binler Basamağı</td>
                        <td>Binler Bassamağı</td>
                        <td>Yüzler Basamağı</td>
                        <td>Onlar Basamağı</td>
                        <td>Birler Basamağı</td>
                    </tr>
                    <tr>
                        <th>Rakamların Basamak Değerleri</th>
                        <td>700 000</td>
                        <td>90 000</td>
                        <td>1000</td>
                        <td>200</td>
                        <td>0</td>
                        <td>5</td>
                    </tr>
                    <tr>
                        <th>Sayının Okunuşu</th>
                        <td colspan="6">Yedi yüz doksan bir bin iki yüz beş</td>
                    </tr>
                    <tr>
                        <th>Sayının Çözümlemesi</th>
                        <td colspan="6">700 000 + 90 000 + 1000 + 200 + 5</td>
                    </tr>
                </table>
            </div>
            <div>
                <p><b>4. </b>Aşağıdaki altı basamaklı doğal sayıların okunuş ve yazılışlarını inceleyelim.</p>
                <ul class="list-group">
                    <li class="list-group-item">329 631: Üç yüz yirmi dokuz bin altı yüz otuz bir</li>
                    <li class="list-group-item">110 458: Yüz on bin dört yüz elli sekiz</li>
                    <li class="list-group-item">103 215: Yüz üç bin iki yüz on beş</li>
                    <li class="list-group-item">809 014: Sekiz yüz dokuz bin on dört</li>
                    <li class="list-group-item">780 253: Yedi yüz seksen bin iki yüz elli üç</li>
                    <li class="list-group-item">948 570: Dokuz yüz kırk sekiz bin beş yüz yetmiş</li>
                    <li class="list-group-item">554 829: Beş yüz elli dört bin sekiz yüz yirmi dokuz</li>
                    <li class="list-group-item">600 400: Altı yüz bin dört yüz</li>
                </ul>
            </div>
        </div>
        <div class="parent">
            <h2 class="bg-warning">5. Dört Basamaklı Sayılarda Yüzer ve Biner Sayma</h2>
            <div>
                <h3 class="bg-success">HATIRLAYALIM</h3>
                <img src="images/mat_images/Matematik1-20.png" alt="köy okulları">
            </div>
            <div>
                <h3 class="bg-danger">ÖĞRENELİM</h3>
                <div>
                    <h4>Yüzer Ritmik Sayma</h4>
                    <div>
                        <p><b>1. </b>Bir arı polen toplama için çıktığı her gezide 100 çiçeğe konabiliyor. Arının 10. gezisinde konduğu çiçek sayısını ritmik sayma ile inceleyelim.</p>
                        <img src="images/mat_images/Matematik1-21.png" alt="çiçekler">
                    </div>
                    <div>
                        <p><b>2. </b>Elif'in 145 TL'si vardı. Ramazan Bayramı'nda dört aile büyüğünden yüzer lira harçlık aldı. Elif'in ne kadar para biriktirmiş olduğunu birlikte inceleyelim.</p>
                        <p>₺145 ₺245 ₺345 ₺445 ₺545</p>
                        <p>Başlangıç sayısı üzerine her adımda 100 ekleyere yüzer artan bir örüntü oluşturmuş oluyoruz.</p>
                    </div>
                    <div>
                        <p><b>3. </b>Okulda 4. sınıflar arası yapılan bilgi yarışması, iki tur şeklinde düzenlenmiştir. İlk turda her soru 50 puan, ikinci turda her soru 100 puan değerindedir.</p>
                        <p>4/A şubesi ilk turda 350 puan kazanmıştır.</p>
                        <p>4/A şubesinin ikinci turda oluşan puan tablosunu birlikte inceleyelim.</p>
                        <table class="table table-success table-striped">
                            <tr>
                                <td>350</td>
                                <td>450</td>
                                <td>550</td>
                                <td>650</td>
                                <td>750</td>
                                <td>850</td>
                                <td>950</td>
                                <td>1050</td>
                                <td>1150</td>
                                <td>1350</td>
                            </tr>
                        </table>
                    </div>
                </div>
                <div>
                    <h4>Biner Ritmik Sayma</h4>
                    <div>
                        <p><b>1. </b>İlde yapılan bayrak yarışında yarışmacıların 1000 metre koşması, daha sonra ellerindeki bayrağı takım arkadaşına vermesi gerekiyor. Bayrak teslim noktalarını belirlemek için her saymada önceki sayıya 1000 ekleyelim Serkan, Ela, Murat ve Ayla'nın koşacakları mesafeyi inceleyelim.</p>
                        <img src="images/mat_images/Matematik1-22.png" alt="koşucular">
                    </div>
                    <div>
                        <p><b>2. </b>Ömer ve babası, arabalarının yağını ve suyunu her 1000 km'de kontrol ediyorlar 3000 km'de bakmayı unutmuşlar. Unuttuklarını fark edip arabanın sayacına bakınca sayacın 3234 km'de olduğunu görmüşler. Ömer'in babası ile birlikte 10 000 km bakımına kadar hangi km'lerde kontrolleri yapacağını belirleyelim</p>
                        <table class="table table-success table-striped">
                            <tr>
                                <td>3234</td>
                                <td>4234</td>
                                <td>5234</td>
                                <td>6234</td>
                                <td>7234</td>
                                <td>8234</td>
                                <td>9234</td>
                            </tr>
                        </table>
                    </div>
                    <div>
                        <p><b>3. </b>Fuat bir dağ bisikleti alıyor. 2250 lira peşinat verip kalan tutarı 1000 liralık taksitler ile ödemeyi planlıyor. Her ay yapacağı ödeme ile toplam ödemiş olacağı tutarı gösteren tabloya bakalım.</p>
                        <table class="table table-success table-striped">
                            <tr>
                                <td>2250</td>
                                <td>3250</td>
                                <td>4250</td>
                                <td>5250</td>
                                <td>6250</td>
                                <td>7250</td>
                                <td>8250</td>
                                <td>9250</td>
                            </tr>
                        </table>
                        <img src="images/mat_images/Matematik1-23.png" alt="bisikletli">
                    </div>
                </div>
            </div>
        </div>
        <div class="parent">
            <h2 class="bg-warning">6. Doğal Sayıları Yuvarlama</h2>
            <div>
                <h3 class="bg-success">HATIRLAYALIM</h3>
                <img src="images/mat_images/Matematik1-24.png" alt="konuşma">
            </div>
            <div>
                <h3 class="bg-danger">ÖĞRENELİM</h3>
                <div>
                    <div>
                        <p><b>1. </b>Doğal sayıların son iki basamağındaki sayı 50'den küçükse sayılar içinde bulundukları yüzlüğe yuvarlanır.</p>
                    </div>
                    <div>
                        <p><b>2. </b>Doğal Sayıların son iki basamağındaki sayı 50 ve 50'den büyükse kendinden sonraki yüzlüğe yuvarlanır.</p>
                        <p>Sayıları yuvarlamak bize günlük hayatta birçok fayda sağlar.</p>
                        <ul class="list-group">
                            <li class="list-group-item">Alışveriş yaparken kolaylıklar sağlar. Örneğin pazarda 178 TL harcayan bir kişinin harcadığı miktar yaklaşık 200 TL olarak ifade edilir.</li>
                            <li class="list-group-item">Tahmin ederken kullanırız.</li>
                            <li class="list-group-item">Sayıların aklımızda daha kolay kalmasını sağlar.</li>
                        </ul>
                        <img src="images/mat_images/Matematik1-25.png" alt="pazar"><br>
                        <img src="images/mat_images/Matematik1-26.png" alt="bilgi bulutu">
                    </div>
                </div>
            </div>
        </div>
        <div class="parent">
            <h2 class="bg-warning">7. Doğal Sayıları Sıralama</h2>
            <div>
                <h3 class="bg-success">HATIRLAYALIM</h3>
                <img src="images/mat_images/Matematik1-27.png" alt="konuşma">
            </div>
            <div>
                <h3 class="bg-danger">ÖĞRENELİM</h3>
                <div>
                    <p><b>1. </b>Doğal sayıları sıralarken basamak sayısı fazla olan sayı, diğer sayıdan büyüktür. Aşağıdaki örneği inceleyelim.</p>
                    <img src="images/mat_images/Matematik1-28.png" alt="sayı">
                </div>
                <div>
                    <p><b>2. </b>Basamak sayısı aynı olan sayıları karşılaştırırken basamak değeri en yüksek olan sayıdan başlayarak karşılaştırma yapılır. Aşağıdaki örneği inceleyelim</p>
                    <img src="images/mat_images/Matematik1-29.png" alt="sayı">
                </div>
                <div>
                    <p><b>3. </b>Basamak sayısı ve basamak değerinin eşit olması durumunda diğer basamaklar arasında karşılaştırma yapılır. Aşağıdaki örneği inceleyelim.</p>
                    <img src="images/mat_images/Matematik1-30.png" alt="sayı">
                </div>
            </div>
        </div>
        <div class="parent">
            <h2 class="bg-warning">8. Doğal Sayılarla Örüntü</h2>
            <div>
                <h3 class="bg-success">HATIRLAYALIM</h3>
                <img src="images/mat_images/Matematik1-31.png" alt="örüntü">
            </div>
            <div>
                <h3 class="bg-danger">ÖĞRENELİM</h3>
                <div>
                    <p><b>1. </b>Aşağıdaki tabloda fidanların boyları belli bir örüntüye göre verilmiştir. Öge sayısını takip ettiğimizde fidanların boylarında artış görürüz.</p>
                    <table class="table table-success table-striped">
                        <tr>
                            <th>Öge Sayısı</th>
                            <td>1. Öge</td>
                            <td>2. Öge</td>
                            <td>3. Öge</td>
                            <td>4. Öge</td>
                        </tr>
                        <tr>
                            <th>Sayı Örüntüsü</th>
                            <td>10 cm</td>
                            <td>14 cm</td>
                            <td>18 cm</td>
                            <td>22 cm</td>
                        </tr>
                        <tr>
                            <th>Örüntünün Kuralı</th>
                            <td colspan="4">Örüntü 4 er cm artarak devam etmiştir.</td>
                        </tr>
                    </table>
                </div>
                <div>
                    <p><b>2. </b>Aşağıdaki verilen armut sayıları belirli bir oranda artmıştır. Örneği inceleyelim.</p>
                    <table class="table table-success table-striped">
                        <tr>
                            <th>Adım Sayısı</th>
                            <td>1. Terim</td>
                            <td>2. Terim</td>
                            <td>3. Terim</td>
                            <td>4. Terim</td>
                            <td>5. Terim</td>
                        </tr>
                        <tr>
                            <th>Armut</th>
                            <td>2</td>
                            <td>4</td>
                            <td>6</td>
                            <td>8</td>
                            <td>10</td>
                        </tr>
                        <tr>
                            <th>Örüntünün Kuralı</th>
                            <td colspan="5">Örüntü 2 artarak devam etmiştir.</td>
                        </tr>
                    </table>
                    <img src="images/mat_images/Matematik1-32.png" alt="bilgi bulutu">
                </div>
            </div>
        </div>
        <div class="parent">
            <h1 class="bg-secondary">DOĞAL SAYILARLA TOPLAMA İŞLEMİ</h1>
            <h2 class="bg-warning">1. En Çok Dört Basamaklı Sayılarla Toplama İşlemi</h2>
            <div>
                <h3 class="bg-success">HATIRLAYALIM</h3>
                <img src="images/mat_images/Matematik1-33.png" alt="okul mevcudu">
            </div>
            <div>
                <h3 class="bg-danger">ÖĞRENELİM</h3>
                <div>
                    <p><b>1. </b>Sema'nın basketbol maçı bilet gişesinde çalışmaktadır. Son biletlerdeki numaralardan yola çıkarak maçtaki izleyici sayısını bulmak istiyor.</p>
                    <img src="images/mat_images/Matematik1-34.png" alt="toplama işlemi">
                </div>
                <div>
                    <p><b>2. </b>Oğuz amcanın Mersin'de meyve bahçesi vardır. Akrabaları, bir hafta boyunca bahçedeki meyvelerin toplanmasına yarım ettiler. 3560 kilogram portakal, 2585 kilogram mandalina topladılar. Kaç kilogram meyve topladılar?</p>
                    <p>&nbsp;&nbsp;3560 kg Portakal<br><u>+2585 kg</u> Mandalina<br>&nbsp;&nbsp;6145 kg Toplam meyve</p>
                </div>
                <div>
                    <p><b>3. </b>Hatice, bisiklet ile Salı günü 2305 metre yol gitmiştir. Ertesi gün 3500 metre daha bisiklet kullanmıştır. Hatice'nin 2 günde gittiği yolun toplam mesafesini bulalım.</p>
                    <p>&nbsp;&nbsp;2305 Salı günü gittiği yol mesafesi<br><u>+3500</u> Ertesi gün gittiği yol mesafesi<br>&nbsp;&nbsp;5805 Toplam mesafe</p>
                </div>
                <div>
                    <p><b>4. </b>Rakamları farklı dört basamaklı en küçük sayı ile üç basamaklı en büyük sayının toplamını bulalım.</p>
                    <p>&nbsp;1023 Rakamları birbirinden farklı dört basamaklı en küçük sayı<br><u>+&nbsp;999</u> Üç basamaklı en büyük sayı<br>&nbsp;2022 Toplam </p>
                </div>
            </div>
        </div>
        <div class="parent">
            <h1 class="bg-secondary">DOĞAL SAYILARLA ÇIKARMA İŞLEMİ</h1>
            <h2 class="bg-warning">1. Çıkarma İşlemi</h2>
            <div>
                <h3 class="bg-success">HATIRLAYALIM</h3>
                <img src="images/mat_images/Matematik1-35.png" alt="konuşma">
            </div>
            <div>
                <h3 class="bg-danger">ÖĞRENELİM</h3>
                <div>
                    <p><b>1. </b>Bir koşucu 5981 metrelik yolun 367 metresini koştu. Geriye koşacağı kaç metre yolu kalmıştır?</p>
                    <p>Kalan (farkı) bulmak için çıkarma işlemi yaparız.</p>
                    <img src="images/mat_images/Matematik1-36.png" alt="çıkarma tablosu">
                    <br>
                    <img src="images/mat_images/Matematik1-37.png" alt="bilgi bulutu">
                </div>
                <div>
                    <p><b>2. </b>Aşağıdaki çıkarma işlemlerini inceleyelim.</p>
                    <img src="images/mat_images/Matematik1-38.png" alt="çıkarma işlemleri">
                </div>
            </div>
            <h2 class="bg-warning">2. Zihinden Çıkarma İşlemi</h2>
            <div>
                <div>
                    <h3 class="bg-success">HATIRLAYALIM</h3>
                    <img src="images/mat_images/Matematik1-39.png" alt="konuşma">
                </div>
                <div>
                    <h3 class="bg-danger">ÖĞRENELİM</h3>
                    <div>
                        <p><b>1. </b>Okulumuzda yapılan deprem tatbikatına tam 430 öğrenci katıldı. Birinci ve ikinci kattan 300 öğrenci bahçeye çıktı. Üçüncü katta kaç öğrenci olduğunu zihinden bulalım.</p>
                        <img src="images/mat_images/Matematik1-40.png" alt="işlem">
                    </div>
                    <div>
                        <p><b>2. </b>23 Nisan Ulusal Egemenlik ve Çocuk Bayramı'nda belediye, okulumuza 450 tane hikaye kitabı gönderdi. 300 tanesi öğrencilere dağıtıldı.</p>
                        <p>Dağıtılmayan kaç hikaye kitabı olduğunu bulalım.</p>
                        <img src="images/mat_images/Matematik1-41.png" alt="işlem bilgi bulutu">
                    </div>
                    <div>
                        <p><b>3. </b>Bir anaokulu, sağlıklı bir sabah kahvaltısı için tavuk çiftliğinden 690 tane yumurta almıştır. Yumurtaların 60 tanesi kırılmıştır. Kaç tane sağlam yumurta kaldığını bulalım.</p>
                        <img src="images/mat_images/Matematik1-42.png" alt="geri sayma">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <p class="endOfUnitParagraph">1. Ünitenin Sonu</p>
    <div class="parent">
        <a href="index" class="btn btn-dark" role="button">Anasayfa</a>
        <a href="mat2" class="btn btn-primary" role="button">Matematik 2. Ünite</a>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
</body>
</html>