<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Matematik 2. Ünite</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <link rel="stylesheet" href="/stylesheets/style.css">
    <link rel="icon" href="images/mat_images/rainbow.png">
</head>
<body>
  <nav class="navbar navbar-expand-md bg-dark navbar-dark">
    <div class="container">
        <a href="index" class="navbar-brand">Anasayfa</a>
        <div class="dropdown">
            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
              Matematik
            </button>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
              <li><a class="dropdown-item" href="mat1">1. Ünite - Doğal Sayılar</a></li>
              <li><a class="dropdown-item" href="mat2">2. Ünite - Toplama ve Çıkarma İşlemleri</a></li>
              <li><a class="dropdown-item" href="mat3">3. Ünite - Çarpma ve Bölme İşlemleri</a></li>
              <li><a class="dropdown-item" href="mattest">Matematik Sınavı</a></li>
            </ul>
        </div>
        <div class="dropdown">
            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
              Fen Bilimleri
            </button>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
              <li><a class="dropdown-item" href="fen1">1. Ünite - Yer Kabuğu ve Dünyamızın Hareketleri</a></li>
              <li><a class="dropdown-item" href="fen2">2. Ünite - Besinlerimiz, Canlılar ve Yaşam</a></li>
              <li><a class="dropdown-item" href="fen3">3. Ünite - Kuvvetin Etkileri ve Fiziksel Olaylar</a></li>
              <li><a class="dropdown-item" href="fentest">Fen Bilimleri Sınavı</a></li>
            </ul>
        </div>
        <div class="dropdown">
            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
              English
            </button>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
              <li><a class="dropdown-item" href="eng1">Unit-1 Classroom Rules</a></li>
              <li><a class="dropdown-item" href="eng2">Unit-2 Nationality</a></li>
              <li><a class="dropdown-item" href="eng3">Unit-3 Cartoon Characters</a></li>
              <li><a class="dropdown-item" href="engtest">English Exam</a></li>
            </ul>
        </div>
        <div>
            <button type="button" class="btn btn-warning">Kayıt Ol</button>
            <button type="button" class="btn btn-success">Giriş Yap</button>
        </div>
    </div>
</nav>
    <div class="parent">
        <h1>4.Sınıf Matematik Dersi - 2. Ünite</h1>
        <h1>Doğal Sayılarla Toplama ve Çıkarma İşlemleri</h1>
    </div>
    <div class="parent">
        <h1 class="bg-secondary">DOĞAL SAYILARLA TOPLAMA İŞLEMİ</h1>
        <h2 class="bg-warning">1. Toplama İşleminde Tahmin Etme</h2>
        <div>
            <h3 class="bg-success">HATIRLAYALIM</h3>
            <img src="images/mat_images/Matematik2-1.png" alt="">
        </div>
        <div>
            <h3 class="bg-danger">ÖĞRENELİM</h3>
            <p>İki sayının toplamını tahmin ederken sayıları en yakın onluğa veya yüzlüğe yuvarlayarak gerçek sonuca yakın bir tahminde bulunabilirsiniz.</p>
            <img src="images/mat_images/Matematik2-2.png" alt="">
            <div>
                <p><b>1. </b>Eve gelen elektrik ve doğalgaz faturalarının tutarlarının toplamını tahmin edelim. Elektrik faturası 124 TL, doğalgaz faturası 367 TL'dir.</p>
                <img src="images/mat_images/Matematik2-3.png" alt="">
            </div>
            <div>
                <p><b>2. </b>7-13 yaş aralığındaki çocukların kullanımı için uygun olan basketbol toplarının kütlesi en yakın onluğa yuvarlandığında 430 gram civarındadır. İki basketbol topunun olabileceği en hafif ve en ağır kütle değerlerini inceleyelim</p>
                <p class="center">425-426-427-428-429-430-431-432-433-434</p>
                <p>Buna göre bir basketbol topunun kütlesi en az 425 gram olabilir. İki basketbol topunun kütleleri toplamı:<br>425 + 425 = 850 gram</p>
                <p>Buna göre bir basketbol topunun kütlesi en fazla 434 gram olabilir. İki basketbol topunun kütleleri toplamı:<br>434 + 434 = 868 gram</p>
            </div>
        </div>
        <h2 class="bg-warning">2. Doğal Sayıları 100'ün Katlarıyla Zihinden Toplama</h2>
        <div>
            <h3 class="bg-success">HATIRLAYALIM</h3>
            <img src="images/mat_images/Matematik2-4.png" alt="">
        </div>
        <div>
            <h3 class="bg-danger">ÖĞRENELİM</h3>
            <div>
                <p><b>1. </b>Engin amca hafta sonu pazarında Cumartesi günü 248, pazar günü 100 tane limon satmıştır. Engin amcanın sattığı toplam limon sayısını zihinden toplama yöntemi ile bulalım.</p>
                <img src="images/mat_images/Matematik2-5.png" alt="pazar satışı">
            </div>
            <div>
                <p><b>2. </b>1469 TL'ye iki takım elbise alan Ahmet Bey, çocuklarına da 200 TL'ye ayakkabı almıştır. Ahmet Bey'in alışveriş için ödediği tutarı zihinden toplama yöntemi ile bulalım.</p>
                <img src="images/mat_images/Matematik2-6.png" alt="alışveriş tablosu">
            </div>
        </div>
        <div class="parent">
            <h2 class="bg-warning">3. Problem Çözme ve Problem Kurma</h2>
            <div class="child">
                <h3 class="bg-success">HATIRLAYALIM</h3>
                <img src="images/mat_images/Matematik2-7.png" alt="konuşma">
            </div>
            <div class="child">
                <h3 class="bg-danger">ÖĞRENELİM</h3>
                <p>Problemleri çözerken problem çözme basamakları kullanabilirsiniz.</p>
                <img src="images/mat_images/Matematik2-8.png" alt="bilgi bulutu">
                <div>
                    <p><b>1. </b>Adanalı Hasan amca temmuz ayında 2850 tane karpuz sattı. Ağustos ayında Temmuz ayındaki satışından 750 tane daha fazla karpuz sattı. Hasan amcanın son iki ayda yaptığı toplam satışı birlikte bulalım.</p>
                    <img src="images/mat_images/Matematik2-9.png" alt="satış tablosu">
                </div>
                <div>
                    <p><b>2. </b>Aşağıdaki verilerden yararlanarak bir problem kuralım ve problemi çözelim.</p>
                    <img src="images/mat_images/Matematik2-10.png" alt="özet">
                    <p>Hakan ve Gamze, dedeleriyle birlikte meyve bahçesine giderek meyve toplamışlar. Topladıkları meyveleri sayınca Hakan'ın 584 tane portakal, Gamze'nin 642 tane elma topladığını görmüşler. İki kardeş gün boynca toplam kaç meyve toplamıştır?</p>
                    <img src="images/mat_images/Matematik2-11.png" alt="işlemler">
                </div>
                <div>
                    <p><b>3. </b>Çözümden yola çıkarak bir problem kuralım.</p>
                    <img src="images/mat_images/Matematik2-12.png" alt="denklem" class="child"><br>
                    <img src="images/mat_images/Matematik2-13.png" alt="problem" class="child">
                </div>
            </div>
        </div>
    </div>
    <div class="parent">
        <h1 class="bg-secondary">DOĞAL SAYILARLA ÇIKARMA İŞLEMİ</h1>
        <div>
            <h2 class="bg-warning">1. Çıkarma İşleminde Tahmin Etme</h2>
            <h3 class="bg-success">HATIRLAYALIM</h3>
            <img src="images/mat_images/Matematik2-14.png" alt="konuşma">
        </div>
        <div>
            <h3 class="bg-danger">ÖĞRENELİM</h3>
            <div>
                <p><b>1. </b>Ayça alışveriş için 375 TL bütçe ayırmıştır. Alışveriş listesi 284 TL tutmuştur. Ayça'nın tahmini ne kadar parası kaldığını birlikte inceleyelim.</p>
                <img src="images/mat_images/Matematik2-15.png" alt="alışveriş"><br>
                <img src="images/mat_images/Matematik2-16.png" alt="sonuç">
            </div>
            <div>
                <p><b>2. </b>Yardımlaşma konulu resim yarışmasına Yunus Emre İlkokulundan 274 öğrenci, Fatih İlkokulundan 142 öğrenci katılıyor. İki okuldan katılan öğrenci sayıları arasındaki farkı tahmin ederek inceleyelim.</p>
                <img src="images/mat_images/Matematik2-17.png" alt="sonuç">
            </div>
        </div>
        <div>
            <h2 class="bg-warning">2. Problem Çözme ve Problem Kurma</h2>
            <h3 class="bg-success">HATIRLAYALIM</h3>
            <img src="images/mat_images/Matematik2-18.png" alt="konuşma">
        </div>
        <div>
            <div>
                <h3 class="bg-danger">ÖĞRENELİM</h3>
                <p><b>1. </b>Geleneksel Horon Şenliği için 1814 adet afiş basılmıştır. Basılan afişlerin 1278 adedi hemen dağıtıldığına göre kalan afiş sayısını birlikte bulalım.</p>
                <img src="images/mat_images/Matematik2-19.png" alt="horon"><br>
                <img src="images/mat_images/Matematik2-20.png" alt="çözüm">
            </div>
            <div>
                <p><b>2. </b>Görselden yararlanarak problemi çözelim.</p>
                <img src="images/mat_images/Matematik2-21.png" alt="">
                <p>Zeynep ve Enes'in aileleriyle birlikte katıldıkları doğa yürüyüşünde attıkları adım sayısı görselde verilmiştir. Görsele göre Enes ve annesisinin attığı adım sayısı, Zeynep ve babasının attığı adım sayısından kaç fazladır.</p>
                <img src="images/mat_images/Matematik2-22.png" alt="">
            </div>
            <div>
                <p><b>3.</b> Çözümden yararlanarak problemi kuralım.</p>
                <img src="images/mat_images/Matematik2-23.png" alt="">
            </div>
        </div>
    </div>
    <p class="endOfUnitParagraph">2. Ünitenin Sonu</p>
    <div class="parent">
        <a href="mat1" class="btn btn-primary" role="button">Matematik 1. Ünite</a>
        <a href="index" class="btn btn-dark" role="button">Anasayfa</a>
        <a href="mat3" class="btn btn-primary" role="button">Matematik 3. Ünite</a>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
</body>
</html>