<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Matematik 3. Ünite</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <link rel="stylesheet" href="/stylesheets/style.css">
    <link rel="icon" href="images/mat_images/rainbow.png">
    <script>
        function logout(){
            xhr.open("post", "index", true);
            xhr.setRequestHeader('Content-Type', 'application/json');
            xhr.send();
        }
    </script>
</head>
<body>
    <nav class="navbar navbar-expand-md bg-dark navbar-dark">
        <div class="container">
            <a href="index" class="navbar-brand">Anasayfa</a>
            <div class="dropdown">
                <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                  Matematik
                </button>
                <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                  <li><a class="dropdown-item" href="mat1">1. Ünite - Doğal Sayılar</a></li>
                  <li><a class="dropdown-item" href="mat2">2. Ünite - Toplama ve Çıkarma İşlemleri</a></li>
                  <li><a class="dropdown-item" href="mat3">3. Ünite - Çarpma ve Bölme İşlemleri</a></li>
                  <li><a class="dropdown-item" href="mattest">Matematik Sınavı</a></li>
                </ul>
            </div>
            <div class="dropdown">
                <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                  Fen Bilimleri
                </button>
                <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                  <li><a class="dropdown-item" href="fen1">1. Ünite - Yer Kabuğu ve Dünyamızın Hareketleri</a></li>
                  <li><a class="dropdown-item" href="fen2">2. Ünite - Besinlerimiz, Canlılar ve Yaşam</a></li>
                  <li><a class="dropdown-item" href="fen3">3. Ünite - Kuvvetin Etkileri ve Fiziksel Olaylar</a></li>
                  <li><a class="dropdown-item" href="fentest">Fen Bilimleri Sınavı</a></li>
                </ul>
            </div>
            <div class="dropdown">
                <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                  English
                </button>
                <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                  <li><a class="dropdown-item" href="eng1">Unit-1 Classroom Rules</a></li>
                  <li><a class="dropdown-item" href="eng2">Unit-2 Nationality</a></li>
                  <li><a class="dropdown-item" href="eng3">Unit-3 Cartoon Characters</a></li>
                  <li><a class="dropdown-item" href="engtest">English Exam</a></li>
                </ul>
            </div>
            <div class="dropdown">
                <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                    <%= name%>
                </button>
                <ul class="dropdown-menu bg-danger" aria-labelledby="dropdownMenuButton1">
                    <li><a class="dropdown-item bg-danger" href="login" onclick="logout()">Çıkış Yap</a></li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="parent">
        <h1>4.Sınıf Matematik Dersi - 3. Ünite</h1>
        <h1>Doğal Sayılarla Çarpma ve Bölme İşlemleri</h1>
        <div>
            <h1 class="bg-secondary">DOĞAL SAYILARLA ÇARPMA İŞLEMİ</h1>
            <h2 class="bg-warning">1. Çarpma İşlemi</h2>
            <div>
                <h3 class="bg-success">HATIRLAYALIM</h3>
                <img src="images/mat_images/Matematik3-1.png" alt="konuşma">
            </div>
            <div>
                <h3 class="bg-danger">ÖĞRENELİM</h3>
                <div>
                    <p><b>1. </b>Kantine 6'lı paketlenen meyve suyu kutularından 275 paket gelmiştir. Kantine kaç kutu meyve suyu geldiğini hesaplarken kullanılan çarpma işlemini inceleyelim.</p>
                    <img src="images/mat_images/Matematik3-2.png" alt="">
                    <img src="images/mat_images/Matematik3-3.png" alt="">
                </div>
                <div>
                    <p><b>2.</b> Bursa - Kars seferini yapan otobüsün bilet ücreti 115 TL'dir. 45 yolcu bilet aldığına göre otobüs firmasının bu seferden elde edeceği geliri hesaplayalım. Bu hesaplamada çarpma işlemini kullanalım.</p>
                    <img src="images/mat_images/Matematik3-4.png" alt="bilgi bulutu">
                </div>
            </div>
            <div>
                <h2 class="bg-warning"><b>2.</b> Çarpan Sırasının Değişmesi</h2>
                <div>
                    <h3 class="bg-success">HATIRLAYALIM</h3>
                    <img src="images/mat_images/Matematik3-5.png" alt="konuşma">
                </div>
                <div>
                    <h3 class="bg-danger">ÖĞRENELİM</h3>
                    <p>Üç çarpanlı bir çarpma işleminde ilk olarak seçilen iki çarpan parantez içine alınır. Önce parantez içindeki çarpma işlemi yapılır. Elde edilen çarpım sonucu 3. çarpanla çarpılır.</p>
                    <div>
                        <p><b>1.</b> 23 Nisan Ulusal Egemenlik ve Çocuk Bayramı'nı kutlama töreninde her öğrencinin elinde 2 bayrak olması kararlaştırılmıştır. Şirinköy İlkokulunda 12 şube ve her şubede 18 öğrenci bulunduğuna göre törende öğrencilerin elinde kaç tane bayrak olacağını bulalım.</p>
                        <img src="images/mat_images/Matematik3-6.png" alt="">
                    </div>
                    <div>
                        <p><b>2. </b>12'li paketlenen yumurtaların tanesi 35 kuruştur. 5 paket yumurtanın fiyatı kaç kuruştur?</p>
                        <img src="images/mat_images/Matematik3-7.png" alt="">
                    </div>
                </div>
            </div>
            <div>
                <h2 class="bg-warning"><b>3. </b>Kısa Yoldan Çarpma İşlemi</h2>
                <div>
                    <h3 class="bg-success">HATIRLAYALIM</h3>
                    <img src="images/mat_images/Matematik3-8.png" alt="">
                </div>
                <div>
                    <h3 class="bg-danger">ÖĞRENELİM</h3>
                    <p><b>10, 100 ve 1000'in Katlarıyla Kısa Yoldan Çarpma İşlemi</b></p>
                    <p>Bir doğal sayıyı 10'un katı olan bir sayıyla çarparken birler basamağındaki "0" yok sayılır. Çarpma işlemi yapılır. İşlemi tamamlamak için çarpım sonucunun sağ tarafına bir tane "0" eklenir.</p>
                    <div>
                        <p><b>1. </b>Sınıfça gittiğimiz bir gezide, tanesi 50 kuruş olan sulardan 26 tane aldık. Toplam kaç kuruş ödediğimizi inceleyelim.</p>
                        <img src="images/mat_images/Matematik3-9.png" alt="">
                        <p>Elde ettiğimiz çarpımın sonuna bir "0" ekleyince 26 x 50 = 1300 kuruş sonucuna ulaşmış oluruz.</p>
                    </div>
                    <div>
                        <p><b>2. </b>Her biri 400 gram ağırlığında olan kuru yemiş paketlerinin 44 tanesinin kütlesini birlikte bulalım.</p>
                        <img src="images/mat_images/Matematik3-10.png" alt="">
                        <p>Elde ettiğimiz çarpımın sonuna iki "0" ekleyince 44 x 400 = 17600 gram sonucuna ulaşmış oluyoruz.<br>Bir doğal sayıyı 1000'in katı olan bir sayıyla çarparken yüzler, onlar ve birler basamağındaki 0'lar yok sayılır. Çarpma işlemi yapılır. İşlemi tamamlamak için çarpım sonucunun sağ tarafına üç tane "0" eklenir.</p>
                    </div>
                    <div>
                        <p><b>3. </b> Günde 9000 adım atan Aynur'un bir haftada atacağı adım sayısını bulalım.</p>
                        <img src="images/mat_images/Matematik3-11.png" alt="">
                        <p>Elde ettiğimiz çarpımın sonuna üç tane "0" ekleyince 7 x 9000 = 63 000 adım sonucuna ulaşmış oluyoruz.</p>
                    </div>
                    <p><b>5, 25 ve 50 ile Kısa Yoldan Çarpma İşlemi</b></p>
                    <div>
                        <p><b>4. </b>Bir doğal sayıyı 5 ile kısa yoldan çarpmak için diğer çarpan önce ikiye bölünür sonra 10 ile çarpılır.<br>Kilosu 5 TL olan nardan 48 kilo alan bir kafeterya sahibi narlar için kaç lira ödemiştir? Birlikte inceleyelim.<br>48 x 5 = ? , 48 : 2 = 24 , 24 x 10 = 240 TL ödemiştir.</p>
                    </div>
                    <div>
                        <p><b>5. </b>Bir doğal sayıyı 25 ile kısa yoldan çarpmak için diğer çarpan önce dörde bölünür sonra 100 ile çarpılır. <br>Tanesi 25 Tl olan orkidelerden üç ay süresince 76 tane satan bir çiçekçi, orkidelerden kaç lira kazanç elde etmiştir? Birlikte hesaplayalım. <br>76 x 25 = ? , 76 : 4 = 19 , 19 x 100 = 1900 TL kazanç elde etmiştir.</p>
                    </div>
                    <div>
                        <p><b>6. </b>Bir doğal sayıyı 50 ile kısa yoldan çarpmak için diğer çarpan önce ikiye bölünür sonra 100 ile çarpılır. <br>Bir değirmende günde 14 tane 50 kg'lık un çuvalını dolduracak kadar un öğütülüyor. Değirmende günlük öğütüler un miktarını birlikte hesaplayalım. <br>14 x 50 = ? , 14 : 2 = 7 , 7 x 100 = 700 kg un öğütülmüştür.</p>
                    </div>
                </div>
            </div>
            <div>
                <h2 class="bg-warning">4. Zihinden Çarpma İşlemi</h2>
                <div>
                    <h3 class="bg-success">HATIRLAYALIM</h3>
                    <img src="images/mat_images/Matematik3-12.png" alt="">
                </div>
                <div>
                    <h3 class="bg-danger">ÖĞRENELİM</h3>
                    <p>Bir doğal sayı ile 10'u zihinden çarparken çarptığımız sayının sonuna bir tane sıfır (0) eklememiz yeterlidir.</p>
                    <div>
                        <p><b>1. </b>Bir duvar saati 25 TL'dir. 10 şubesi bulunan bir okulun tüm sınıflarına duvar saati alınırsa ödenmesi gereken para miktarını bulalım.</p>
                        <img src="images/mat_images/Matematik3-13.png" alt="">
                        <p>Bir doğal sayı ile 100'ü zihinden çarparken çarptığımız sayının sonuna iki tane sıfır (00) eklememiz yeterlidir.</p>
                    </div>
                    <div>
                        <p><b>2. </b>Her sorunun 100 puan değerinde olduğu bilgi yarışmasında, 16 doğru cevabı olan kişinin kazandığı puanı hesaplayalım.</p>
                        <img src="images/mat_images/Matematik3-14.png" alt="">
                        <p>Bir doğal sayı ile 1000'i zihinden çarparkern çarptığımız sayının sonuna üç tane sıfır (000) eklememiz yeterlidir.</p>
                    </div>
                    <div>
                        <p><b>3. </b>Bir bağda toplanan 1000 kg üzümü 3 TL'den satan bağcının elde edeceği kazancı inceleyelim.</p>
                        <img src="images/mat_images/Matematik3-15.png" alt="">
                        <p>Zihinden işlem yaparken kullanacağımız yöntem açısından esnek davranabiliriz.</p>
                    </div>
                </div>
            </div>
            <div>
                <h2 class="bg-warning">5. Çarpma İşlemini Tahmin Etme</h2>
                <div>
                    <h3 class="bg-success">HATIRLAYALIM</h3>
                    <img src="images/mat_images/Matematik3-16.png" alt="">
                </div>
                <div>
                    <h3 class="bg-danger">ÖĞRENELİM</h3>
                    <p>İki basamaklı doğal sayılarla yapılan çarpma işlemlerinde, sayıları en yakın onluğa yuvarlayarak çarpma işlemini kolaylaştırabiliriz. Böylelikle çarpma işlemini zihinden yapabiliriz.</p>
                    <div>
                        <p><b>1. </b>Her katında 22 basamak bulunan 4 katlı okulun toplam basamak sayısını tahmin edelim. Daha sonra tahminimizi işlem sonucu ile karşılaştıralım.</p>
                        <img src="images/mat_images/Matematik3-17.png" alt="">
                        <p>Tahmini sonuç da işlem sonucu da farklı olmalarına rağmen doğrudur. Hangisini kullanacağımıza karar verirken esnek davranabiliriz.</p>
                    </div>
                    <div>
                        <p><b>2. </b>Bir besi çiftliğinde 42 kaz, kazların 6 katı kadar da tavuk vardır. Çiftlikteki tavuk sayısını tahmin edelim. Daha sonra tahminimizi işlem sonucu ile karşılaştırarak oluşan farkı inceleyelim.</p>
                        <img src="images/mat_images/Matematik3-18.png" alt="">
                    </div>
                </div>
            </div>
            <div>
                <h2 class="bg-warning">6. Problem Çözme ve Problem Kurma</h2>
                <div>
                    <h3 class="bg-success">HATIRLAYALIM</h3>
                    <img src="images/mat_images/Matematik3-19.png" alt="">
                </div>
                <div>
                    <h3 class="bg-danger">ÖĞRENELİM</h3>
                    <div>
                        <p><b>1. </b>Yolağzı İlkokulunun düzenlediği bahar pikniğine 6 otobüs öğrenci gitmiştir. Yol ücreti olarak kişi başı 4 TL toplanan gezide her otobüse 36 öğrenci binmiştir. Bu gezi için kaç lira yol ücreti toplanmıştır?</p>
                        <img src="images/mat_images/Matematik3-20.png" alt="">
                    </div>
                    <div>
                        <p><b>2. </b>İki doğal sayıdan biri, diğerinin 3 katının 13 fazlasıdır. Küçük sayı 25 ise iki sayının çarpımları sonucu kaçtır?</p>
                        <img src="images/mat_images/Matematik3-21.png" alt="">
                    </div>
                    <div>
                        <p><b>3. </b>Aşağıdaki verilerle problem kuralım ve problemi çözelim.</p>
                        <img src="images/mat_images/Matematik3-22.png" alt=""><br>
                        <img src="images/mat_images/Matematik3-23.png" alt="">
                    </div>
                    <div>
                        <p><b>4. </b>Aşağıdaki işlemlere uygun bir problem kuralım.</p>
                        <img src="images/mat_images/Matematik3-24.png" alt=""><br>
                        <img src="images/mat_images/Matematik3-25.png" alt="">
                    </div>
                </div>
            </div>
        </div>
        <div class="parent">
            <h1 class="bg-secondary">DOĞAL SAYILARLA BÖLME İŞLEMİ</h1>
            <h2 class="bg-warning">1. Bölme İşlemi</h2>
            <div>
                <h3 class="bg-success">HATIRLAYALIM</h3>
                <img src="images/mat_images/Matematik3-26.png" alt="">
            </div>
            <div>
                <h3 class="bg-danger">ÖĞRENELİM</h3>
                <p><b>Bölümün Basamak Sayısını Belirleyelim</b></p>
                <img src="images/mat_images/Matematik3-27.png" alt=""><br>
                <img src="images/mat_images/Matematik3-28.png" alt="">
                <div>
                    <p><b>1. </b>"Benim Resimlerim" adlı sergide sergilenen 144 adet tablo, 8 kutuya yerleştirilerek taşınacaktır. Her bir kutuda kaç tablı olacağını bulalım.</p>
                    <img src="images/mat_images/Matematik3-29.png" alt="">
                </div>
                <div>
                    <p><b>2. </b>Aşağıda verilen bölme işlemini inceleyelim.</p>
                    <img src="images/mat_images/Matematik3-30.png" alt="">
                </div>
                <div>
                    <p><b>3. </b>Necla Öğretmen, 23 Nisan Ulusal Egemenlik ve Çozuk Bayramı için öğrencileriyle birlikte sınıfı süsleyecektir. Bunun için sınıfa 112 tane balon getirmiştir. Sınıfta 28 öğrenci olduğuna göre her bir öğrenciye kaç balon düştüğünü bulalım.</p>
                    <img src="images/mat_images/Matematik3-31.png" alt="">
                </div>
                <div>
                    <p><b>4. </b>Aşağıda verilen örneği inceleyelim.</p>
                    <img src="images/mat_images/Matematik3-32.png" alt="">
                </div>
            </div>
            <h2 class="bg-warning">3. Zihinden Bölme İşlemi</h2>
            <div>
                <div>
                    <h3 class="bg-success">HATIRLAYALIM</h3>
                    <img src="images/mat_images/Matematik3-33.png" alt="">
                </div>
                <div>
                    <h3 class="bg-danger">ÖĞRENELİM</h3>
                    <div>
                        <p><b>1. </b>Helin, okumuş olduğu 500 adet kitabı 10 kişiye vermek istiyor. Her bir kişiye kaç adet kitap düşeceğini bulalım.</p>
                        <img src="images/mat_images/Matematik3-34.png" alt=""><br>
                        <img src="images/mat_images/Matematik3-35.png" alt="">
                    </div>
                    <div>
                        <p><b>2. </b>Bir fırında 200 adet ekmek 100 kişiye satılmıştır. Bir kişiye düşen ortalama ekmek sayısını bulalım.</p>
                        <img src="images/mat_images/Matematik3-36.png" alt=""><br>
                        <img src="images/mat_images/Matematik3-37.png" alt="">
                    </div>
                    <div>
                        <p><b>3. </b>Sebze halinden alınan 30 000 kg domates, 1000 adet kasaya paylaştırılarak pazara gönderilecektir. Her bir kasaya kaç kg domates koyulacağını bulalım.</p>
                        <img src="images/mat_images/Matematik3-38.png" alt=""><br>
                        <img src="images/mat_images/Matematik3-39.png" alt="">
                    </div>
                </div>
            </div>
            <h2 class="bg-warning">4. Bölme İşlemini Tahmin Etme</h2>
            <div>
                <h3 class="bg-danger">ÖĞRENELİM</h3>
                <div>
                    <p><b>1. </b>4/c sınıfındaki 28 öğrenci hafta sonu pikniğe gidecektir. Piknik için 448 TL para toplandığına göre her öğrenci kaç lira vermiştir? Bulalım.</p>
                    <img src="images/mat_images/Matematik3-40.png" alt="">
                </div>
                <div>
                    <p><b>2. </b>646 adet oyun hamur 24 tane kutuya koyularak paketlenecektir. Her kutuya kaç oyun hamuru düşeceğini tahmin edelim. Tahminimizi işlem sonucuyla karşılaştıralım.</p>
                    <img src="images/mat_images/Matematik3-41.png" alt="">
                    <p>Tahmini sonuç da işlem sonucu da farklı olmalarına rağmen doğrudur. Hangisini kullanacağımıza karar verirken esnek davranabiliriz.</p>
                </div>
            </div>
            <h2 class="bg-warning">5. Çarpma ve Bölme Arasındaki İlişki</h2>
            <div>
                <div>
                    <h3 class="bg-success">HATIRLAYALIM</h3>
                    <img src="images/mat_images/Matematik3-42.png" alt="">
                </div>
                <div>
                    <h3 class="bg-danger">ÖĞRENELİM</h3>
                    <p>Aşağıda verilen örneklerdeki çarpma ve bölme işlemlerini inceleyelim.</p>
                    <img src="images/mat_images/Matematik3-43.png" alt="">
                </div>
            </div>
            <h2 class="bg-warning">6. Problem Çözme ve Problem Kurma</h2>
            <div>
                <div>
                    <h3 class="bg-success">HATIRLAYALIM</h3>
                    <img src="images/mat_images/Matematik3-44.png" alt="">
                </div>
                <div>
                    <h3 class="bg-danger">ÖĞRENELİM</h3>
                    <div>
                        <p><b>1. </b>Kalansız bir bölme işleminde bölünen sayı 420, bölen sayı ise bölüm kaçtır?</p>
                        <img src="images/mat_images/Matematik3-45.png" alt="">
                    </div>
                    <div>
                        <p><b>2. </b>Okulumuzda düzenlenen tiyatro izleme etkinliğine 4. sınıflar gidecektir. 4. sınıflarda 133 öğrenci vardır. 13 öğrenci hasta olduğu için okula gelmedi. Öğrenciler, tiyatroya gidebilmek için 8 minibüse eşit bindirildi. Her minibüste kaç tane öğrenci olduğunu bulalım.</p>
                        <img src="images/mat_images/Matematik3-46.png" alt="">
                    </div>
                    <div>
                        <p><b>3. </b>Aşağıdaki verilerden yararlanarak bir problem kuralım ve problemi çözelim.</p>
                        <img src="images/mat_images/Matematik3-47.png" alt=""><br>
                        <img src="images/mat_images/Matematik3-48.png" alt="">
                    </div>
                </div>
            </div>
            <h2 class="bg-warning">7. Matematikte Eşitlik Durumu</h2>
            <div>
                <div>
                    <h3 class="bg-success">HATIRLAYALIM</h3>
                    <img src="images/mat_images/Matematik3-49.png" alt="">
                </div>
                <div>
                    <h3 class="bg-danger">ÖĞRENELİM</h3>
                    <div>
                        <p><b>1. </b>Hangi sayının 8 eksiği, 25'in 5 katına eşittir?</p>
                        <img src="images/mat_images/Matematik3-50.png" alt="">
                        <p>Eşitliğin iki tarafında farklı sayılar ve işlemler kullandık. Ancak aynı sonuca ulaştık. Bu durum, farklı çözüm yolları kullanarak da eşitliği sağlayabileceğimizi gösterir.</p>
                    </div>
                    <div>
                        <p><b>2. </b>Aşağıdaki eşitliklerde verilmeyen sayıları bulup eşitliği sağlayalım.</p>
                        <img src="images/mat_images/Matematik3-51.png" alt="">
                    </div>
                </div>
            </div>
            <h2 class="bg-warning">8. Matematikte Eşitliği Sağlama</h2>
            <div>
                <div>
                    <h3 class="bg-success">HATIRLAYALIM</h3>
                    <img src="images/mat_images/Matematik3-52.png" alt="">
                </div>
                <div>
                    <h3 class="bg-danger">ÖĞRENELİM</h3>
                    <div>
                        <p><b>1. </b>684 / A = 36 x 19 eşitliğinde A yerine hangi sayı gelmelidir?</p>
                        <img src="images/mat_images/Matematik3-53.png" alt="">
                    </div>
                    <div>
                        <p><b>2. </b>Esra'nın kumbarasında 18 tane 5 TL'si, Emin'in ise 11 tane 10 TL'si vardır. Bu durumda iki kardeşin paralarının eşit olması için ne yapılmalıdır?</p>
                        <img src="images/mat_images/Matematik3-54.png" alt="">
                    </div>
                    <div>
                        <p><b>3. </b>Okulumuz futbol turnuvasına katıldı. Her takımda 1 kaleci ve 10 oyuncu vardır. Oyuncuların diziliş şekline göre bir sistemir vardır. Biz 4 - 4 - 2 sistemi ile oynuyoruz. Karşı takım da 3 - 5 - 2 sistemi ile oynuyor.<br>4 + 4 + 2 = 3 + 5 + 2<br>Karşı takımdan 1 oyuncu kırmızı kart alarak oyundan çıkarılıyor.<br>4 + 4 + 2 &ne; 3 + 4 + 2<br>Futbol turnuvasına katılan takımların eşitliğinin sağlanması için ne yapılmalıdır?</p>
                        <img src="images/mat_images/Matematik3-55.png" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <p class="endOfUnitParagraph">3. Ünitenin Sonu</p>
    <div class="parent">
        <a href="mat2" class="btn btn-primary" role="button">Matematik 2. Ünite</a>
        <a href="index" class="btn btn-dark" role="button">Anasayfa</a>
        <a href="mattest" class="btn btn-primary" role="button">Matematik Sınavı</a>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
</body>
</html>