<!DOCTYPE html>
<html lang="en">

<head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=">
        <title>Document</title>
        <link rel="stylesheet" href="/stylesheets/style.css">
</head>

<body>
        <div class="srdiv2">
                <p><span class="cvsn">Soru 3</span> <br><span class="sr36">Tekstil, tarım, cam, seramik sanayisinde,
                                bazı temizlik ürünlerinin yapımında ve uçak yakıtlarında yararlanılan maden
                                aşağıdakilerden hangisidir? <br><br> <strong>A)</strong> Civa <br> <strong>B)</strong>
                                Krom <br> <strong>C)</strong> Gümüş <br> <strong>D)</strong> Bor</span> <span
                                class="c36" id="k754sr3"> <span id="uy754s3" class="beny"><input type="button"
                                                onclick="document.getElementById('uy754s3').innerHTML='YANLIŞ';ynl()"
                                                value="A"><input type="button"
                                                onclick="document.getElementById('uy754s3').innerHTML='YANLIŞ';ynl()"
                                                value="B"><input type="button"
                                                onclick="document.getElementById('uy754s3').innerHTML='YANLIŞ';ynl()"
                                                value="C"> <input type="button"
                                                onclick="document.getElementById('uy754s3').innerHTML='DOĞRU';dgr()"
                                                value="D"></span><input type="button" value="Çözümü Göster"
                                        onclick="goster3()" class="cozgos"> </span><span id="cozumu3" class="czmdiv"
                                style="width:98%;float:left;display:none;padding:1%;">Tekstil, tarım, cam, seramik
                                sanayisinde, bazı temizlik ürünlerinin yapımında ve uçak yakıtlarında yararlanılan maden
                                <strong>bor</strong> madenidir.&nbsp; <br> <strong>Doğru Cevap D</strong></span></p>
        </div>
</body>

</html>