<!DOCTYPE html>
<html lang="en">

<head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Fen Bilimleri 1. Ünite</title>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
        <link rel="stylesheet" href="/stylesheets/style.css">
        <link rel="icon" href="images/mat_images/rainbow.png">
</head>

<body>
        <nav class="navbar navbar-expand-md bg-dark navbar-dark">
                <div class="container">
                        <a href="index" class="navbar-brand">Anasayfa</a>
                    <div class="dropdown">
                        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                          Matematik
                        </button>
                        <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                          <li><a class="dropdown-item" href="mat1">1. Ünite - Doğal Sayılar</a></li>
                          <li><a class="dropdown-item" href="mat2">2. Ünite - Toplama ve Çıkarma İşlemleri</a></li>
                          <li><a class="dropdown-item" href="mat3">3. Ünite - Çarpma ve Bölme İşlemleri</a></li>
                          <li><a class="dropdown-item" href="mattest">Matematik Sınavı</a></li>
                        </ul>
                    </div>
                    <div class="dropdown">
                        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                          Fen Bilimleri
                        </button>
                        <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                          <li><a class="dropdown-item" href="fen1">1. Ünite - Yer Kabuğu ve Dünyamızın Hareketleri</a></li>
                          <li><a class="dropdown-item" href="fen2">2. Ünite - Besinlerimiz, Canlılar ve Yaşam</a></li>
                          <li><a class="dropdown-item" href="fen3">3. Ünite - Kuvvetin Etkileri ve Fiziksel Olaylar</a></li>
                          <li><a class="dropdown-item" href="fentest">Fen Bilimleri Sınavı</a></li>
                        </ul>
                    </div>
                    <div class="dropdown">
                        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                          English
                        </button>
                        <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                          <li><a class="dropdown-item" href="English-1.html">Unit-1 Classroom Rules</a></li>
                          <li><a class="dropdown-item" href="English-2.html">Unit-2 Nationality</a></li>
                          <li><a class="dropdown-item" href="English-3.html">Unit-3 Cartoon Characters</a></li>
                          <li><a class="dropdown-item" href="EnglishTest.html">English Exam</a></li>
                        </ul>
                    </div>
                    <div>
                        <button type="button" class="btn btn-warning">Kayıt Ol</button>
                        <button type="button" class="btn btn-success">Giriş Yap</button>
                    </div>
                </div>
            </nav>
        <div class="parent">
                <div>
                        <h1>4.Sınıf Fen Bilimleri Dersi - 1. Ünite</h1>
                        <h1>Yer Kabuğu ve Dünya’mızın Hareketleri</h1>

                </div>
                <div>
                        <h2 class="bg-secondary">YER KABUĞUNUN YAPISI</h2>
                        <p>Üzerinde yaşadığımız Dünya, birçok
                                canlıya ev sahipliği yapar. Bu canlılardan
                                bazıları karada, bazıları suda
                                yaşar. Her biri farklı özellikte ve yapıda
                                olan canlılar için yaşam alanı olan
                                Dünya’nın yapısını hiç merak ettiniz
                                mi?</p>
                        <img src="images/fen_images/1.unite/1.png" alt="">

                        <p class="center">999 + 1 = 1000</p>
                        <p>Dünya’mızın; ağır küre, ateş küre, taş küre, su küre ve hava küre gibi çeşitli katmanlardan
                                oluştuğunu daha önceki sınıflarda öğrenmiştik. Aşağıdaki görseli inceleyerek
                                bunları hatırlayalım.</p>
                        <img src="images/fen_images/1.unite/2.png" alt="dünyanın katmanları" class="center">
                        <p>Üzerine bastığımız toprak, yer kabuğu adı verilen taş kürenin bir parçasıdır. Acaba
                                yer kabuğunun yapısında başka neler vardır?</p>
                        <h3 class="bg-warning">Kayaçlar</h3>
                        <p>Çevremizdeki kara parçalarını incelediğimizde irili ufaklı taşlar gözlemleriz. Bunlar
                                farklı şekil, sertlik ve renklerde olabilir. Gözlemlediğimiz bu taşlar mineral adı
                                verilen
                                çeşitli maddelerden oluşmuşlardır. Bir veya birden fazla mineralin bir araya gelerek
                                doğal olarak oluşturduğu kütlelere kayaç adı verilir.
                                Yer kabuğunun kara tabakası kayaçlardan oluşur. Kayaçlar içerdikleri minerallere
                                göre sert ya da yumuşak olabilir.</p>
                        <img src="images/fen_images/1.unite/3.png" alt="">
                </div>
                <div>
                        <p>Kayaçlar; rüzgâr, su, sıcaklık gibi etmenlerle parçalanarak toprağı meydana getirir.
                                Toprak, çeşitli bitki ve hayvanların üzerinde yaşadığı bir ortamdır. Kayaçların içerdiği
                                maddelere göre toprağın yapısı da değişebilir. Örneğin mineral miktarı ve çeşidi
                                bakımından
                                zengin olan topraklarda canlı çeşitliliği fazlayken az olan topraklarda daha az
                                canlı çeşidi bulunur. Akarsu kıyılarında, dağlık arazilerde, sahillerde veya evimizin
                                yakınlarında
                                birbirinden farklı kayaçlar görmemizin nedeni bu kayaçların yapısının farklı
                                olmasıdır.</p>
                        <p>Kayaçlar çeşitli özellikte olmaları sayesinde farklı amaçlar için kullanılabilir. Ekonomik
                                değeri olan kayaçlara maden adı verilir.</p>
                </div>
                <div>
                        <p>Madenler, maden ocaklarında birtakım yöntemlerle yer kabuğundan çıkarılıp işlenerek
                                ham madde olarak kullanılabilir. Bu sayede; altın madeninden bilezik, demirden
                                kapı, bakırdan çeşitli kaplar üretilebilir.</p>
                        <img src="images/fen_images/1.unite/4.png" alt="">
                        <p>Altın, gümüş, zümrüt gibi madenler oldukça değerlidir.
                                Bu madenlerden süs eşyası yapımında sıkça yararlanılır.
                                Granit, mermer ise sertlik ve dayanıklılıklarından dolayı
                                mutfak tezgâhı yapımında ham madde olarak kullanılır.</p>
                        <p>Taş kömürü hem yakıt olarak hem otomotiv ve elektronik
                                alanında kullanılan, linyit ise asfalt yapımında kullanılan
                                bir ham maddedir.</p>
                        <p>Kayaçlar ve madenler ülkelerin ekonomik olarak kalkınmasında önemli rol oynar.
                                Ham madde olarak kullanıldıkları için ticari açıdan büyük önem taşırlar. Ülkelerin kayaç
                                ve maden bakımından zengin olması ve bunların işlenebilir durumda olması millî gelire
                                büyük katkı sağlar.</p>
                        <p>Ülkemiz birçok kayaç ve maden çeşidi bakımından oldukça zengindir. Altın, bor, mermer,
                                linyit, bakır, taş kömürü, gümüş ülkemizde bol miktarda bulunmaktadır. Muğla’nın
                                Yatağan ilçesi linyit, Afyonkarahisar mermer, Zonguldak da taş kömürü yatakları
                                bakımından
                                zengindir. Dünya üzerinde bor rezervlerinde ülkemiz ilk sırada yer almaktadır.
                                Eskişehir, Kütahya, Bursa gibi şehirlerimizde bor madeni çok miktarda bulunmaktadır.
                                Otomobil, tıp, enerji, bilgisayar, cam gibi pek çok farklı alanda bor madeninden
                                yararlanılmaktadır.
                                Ayrıca plastik, inşaat, boya gibi alanlarda da bor madeninden yararlanılmaktadır.
                                Ülkesini seven sorumluluk sahibi bireyler olarak bu doğal miraslara sahip çıkmalıyız.
                        </p>
                </div>
                <div>
                        <img src="images/fen_images/1.unite/5.png" alt="">

                        <p>Bir zamanlar yeryüzünde dinozor, mamut gibi canlıların yaşadığı bilim insanları tarafından
                                açıklanmıştır. Acaba bilim insanları hiç görmedikleri hâlde dinozorların varlığını
                                nasıl bilmektedir?</p>
                        <br>
                        <p>Yeryüzündeki canlılar, öldükten sonra deniz dibine ya da toprağa düşer. Zamanla
                                bu canlı kalıntılarının yumuşak kısımları çürüyerek yok olur. Kemik, kabuk gibi sert
                                kısımların üzeri ise çamur, kum ve çakıllarla kaplanır. Bu kısımlar zamanla toprak
                                altında
                                kalır ve sıkışarak sertleşir. Bazen de toprak altında değil buzulların içinde veya
                                ağaçlardan salgılanan reçineler içinde kalarak sertleşir. Canlı kalıntılarının bu
                                şekilde
                                yıllar içinde taşlaşması sonucu fosil oluşur. Fosil oluşumu yüzlerce, binlerce hatta
                                milyonlarca
                                yıl sürebilir.</p>
                        <br>
                        <p>Fosiller incelenerek daha önce yaşamış canlı türleri belirlenebilir. Fosiller sayesinde
                                bitki, hayvan, mantar ve kabuklu deniz canlıları hakkında birçok bilgi aydınlığa
                                kavuşmaktadır.
                                Bir canlının geçmişten günümüze kadar nasıl değişimler geçirdiği yine
                                fosiller aracılığıyla anlaşılır.</p>
                        <img src="images/fen_images/1.unite/6.png" alt="">
                        <h2 class="bg-secondary">DÜNYA’NIN DÖNME VE DOLANMA HAREKETLERİ</h2>
                        <p>
                                İnsanlar dünya üzerinde hareket ederek birçok yere gidebilirler. Bazen yakın bazen
                                uzak mesafelere giderek yer değiştirebilirler. Sadece üzerinde yaşayan canlıların değil,
                                Dünya’nın kendisinin de hareket ettiğini, hep aynı yerde durmadığını biliyor
                                muydunuz?<br>
                                Dünya’mızın dönme ve dolanma olmak üzere iki hareketi vardır. Dönme hareketi
                                Dünya’nın kendi etrafında bir kez dönmesi olayıdır. Bu olay batıdan doğuya doğru
                                gerçekleşir. Dolanma hareketi ise Dünya’nın Güneş etrafındaki yörüngesinde bir tur
                                dolanması olayıdır. Dünya’mız aynı anda hem dönme hem dolanma hareketi yapar.
                                Ancak bu hareketlerin tamamlanma süreleri farklıdır. Bu iki olayın sonuçları da
                                farklıdır.
                                Örneğin Güneş’i gün içinde farklı yerlerde görmemiz, gece ve gündüzün oluşması
                                Dünya’nın dönme hareketinin bir sonucudur. Mevsimlerin oluşumu ise dolanma hareketi
                                ile ilgilidir. Şimdi dönme ve dolanma hareketlerini ve bunların sonuçlarını yakından
                                inceleyelim.<br>
                                Dünya kendi etrafında belirli bir yörüngede ve belli bir hızla dönmektedir. Bunun
                                sonucunda Dünya’nın bir tarafı Güneş’e bakarken diğer tarafı Güneş’i göremez. Bu
                                durumu daha iyi kavrayabilmek için bir etkinlik yapalım.
                        </p>
                </div>
                <div>
                        <p>Dünya’mız kendi ekseni etrafında dönmektedir. Bu hareket sırasında Güneş’i gören
                                kısımda gündüz, göremeyen kısımda ise gece yaşanır. Böylece, dönme hareketi sonucunda
                                gece ve gündüz oluşur. Yaptığımız etkinlikte fener, Güneş’i temsil etmektedir. Fenerin
                                aydınlattığı kısımlar, Dünya üzerindeki gündüz saatlerinin yaşandığı bölgeleri
                                göstermektedir.
                                Karanlıkta kalan kısımlar ise gecenin yaşandığı bölgeleri temsil etmektedir</p>
                        <img src="images/fen_images/1.unite/7.png" alt="">

                </div>
                <div>
                        <p>Dünya’nın kendi etrafındaki dönüşü 24 saatte tamamlanır.
                                Bu süre, bir gün olarak kabul edilir. Günlük
                                hayatımızda birçok işimizi günün saatlerine göre ayarlayarak
                                yaparız.<br>
                                Bir gün içerisindeki gece ve gündüz süreleri,
                                Dünya’nın bölgelerine göre farklılık gösterebilir. Bazı
                                bölgelerde geceler daha uzun, bazılarında ise daha
                                kısadır.</p>
                </div>
                <div>
                        <p>Dünya’nın en büyük ısı ve ışık kaynağının Güneş
                                olduğunu biliyoruz. Bu nedenle Dünya’nın
                                dönme hareketi sırasında Güneş görmeyen
                                yani gece olan kısımları gündüze göre daha soğuk
                                olur. Gündüz, Güneş görüldüğü için tekrar
                                sıcaklık artar. Böylece gece ve gündüz arasında
                                sıcaklık farkı oluşmuş olur.<br>
                                Dünya dönerken Güneş’in konumu gün içerisinde
                                değişir. Bunun sonucunda Güneş ışınları
                                Dünya’ya farklı açılarda gelir. Gün içerisinde gölge
                                boylarının değişkenlik göstermesinin nedeni
                                budur. Öğle saatlerinde Güneş tam tepede olduğu
                                için gölge boyu kısa, ikindi vakti Güneş batarken
                                gölge boyu daha uzundur. Eski zamanlardan
                                bu yana gölge boyu ölçülerek saat tahminleri yapılabilmektedir.
                                Güneş saatleri, bu özellikten yararlanılarak
                                kullanılan bir alettir.
                        </p>
                        <img src="images/fen_images/1.unite/8.png" alt="">
                        <p>Dünya üzerinde nerede olursak olalım Güneş
                                hep aynı taraftan doğar. Çünkü Dünya, hep aynı
                                yöne doğru dönmektedir. Dünya’nın bu özelliği
                                sayesinde, yönler ortaya çıkmıştır. Güneş’in doğduğu
                                yön daima doğu, battığı yön ise daima batıyı
                                gösterir. Yeryüzünde yön kavramları sayesinde
                                gidilecek yollar daha kolay belirlenebilmektedir<br>
                                Sağ kolumuzu Güneş’in doğduğu yöne doğru
                                uzattığımızda, sağ kolumuzun olduğu yön doğuyu,
                                sol kolumuzun olduğu yön batıyı, önümüz
                                kuzeyi arkamız ise güneyi gösterir.
                        </p>
                </div>
                <div>
                        <p>
                                Dünya’mızın hareketi sadece kendi etrafında dönmesiyle sınırlı değildir. Dünya,
                                kendi etrafında dönerken bir taraftan da Güneş’in etrafında dolanır. Bu sırada elips
                                şeklinde bir yörünge izler. Aşağıdaki etkinliği yaparak Dünya’nın Güneş etrafındaki
                                dolanımının
                                nasıl gerçekleştiğini açıklayalım.
                        </p>
                </div>
                <div>
                        <p>
                                İlkbahar, yaz, sonbahar ve kış olmak üzere 4 mevsim olduğunu biliyoruz. Birbirinden
                                farklı özelliklere sahip bu mevsimlerin Dünya’nın hareketiyle nasıl bir ilişkisi
                                olabilir?
                        </p>
                        <img src="images/fen_images/1.unite/9.png" alt="">
                        <p>
                                Dünya’nın Güneş etrafındaki dolanımı 365 gün 6 saatte tamamlanır. Bu süre 1 yıl
                                olarak adlandırılır. Dünya bu yörüngede ilerlerken bazen Güneş’e yaklaşır bazen de
                                Güneş’ten uzaklaşır. Bu sırada Güneş ışınları Dünya’nın farklı bölgelerine farklı
                                zamanlarda
                                farklı açılarla gelmektedir. Bu durum gölge uzunluğu ve sıcaklığın farklı olmasına
                                neden olur. Yaptığımız etkinlikte Dünya’yı temsil eden portakalın, Güneş’i temsil
                                eden mum etrafında çizdiği yörüngeyi gözlemledik. Buradan yola çıkarak portakalın
                                muma yaklaştığı zamanın, Dünya’nın Güneş’e yaklaştığı zaman olduğu sonucuna
                                ulaşabiliriz.
                        </p>
                        <p>
                                Dünya’nın Güneş etrafındaki dolanımının
                                sonuçlarından biri de mevsimlerin
                                oluşumudur. Mevsim değişikliklerinde
                                hava sıcaklığı ve yağış miktarı değişebilir.
                                Bunun sonucunda topraktan farklı ürünler
                                elde edilir ve besin çeşitliliği artar. Portakal,
                                limon gibi besinler kışın daha çok üretilirken
                                üzüm, domates gibi besinler yaz
                                aylarında daha çok üretilir
                        </p>
                </div>

        </div>
        <p class="endOfUnitParagraph">1. Ünitenin Sonu</p>
        <div class="parent">
                <a href="index" class="btn btn-dark" role="button">Anasayfa</a>
                <a href="fen2" class="btn btn-primary" role="button">Fen Bilimleri 2. Ünite</a>
        </div>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
</body>

</html>