<!DOCTYPE html>
<html lang="en">

<head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Fen Bilimleri 2. Ünite</title>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
        <link rel="stylesheet" href="/stylesheets/style.css">
        <link rel="icon" href="images/mat_images/rainbow.png">
</head>

<body>
        <nav class="navbar navbar-expand-md bg-dark navbar-dark">
                <div class="container">
                        <a href="index" class="navbar-brand">Anasayfa</a>
                    <div class="dropdown">
                        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                          Matematik
                        </button>
                        <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                          <li><a class="dropdown-item" href="mat1">1. Ünite - Doğal Sayılar</a></li>
                          <li><a class="dropdown-item" href="mat2">2. Ünite - Toplama ve Çıkarma İşlemleri</a></li>
                          <li><a class="dropdown-item" href="mat3">3. Ünite - Çarpma ve Bölme İşlemleri</a></li>
                          <li><a class="dropdown-item" href="mattest">Matematik Sınavı</a></li>
                        </ul>
                    </div>
                    <div class="dropdown">
                        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                          Fen Bilimleri
                        </button>
                        <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                          <li><a class="dropdown-item" href="fen1">1. Ünite - Yer Kabuğu ve Dünyamızın Hareketleri</a></li>
                          <li><a class="dropdown-item" href="fen2">2. Ünite - Besinlerimiz, Canlılar ve Yaşam</a></li>
                          <li><a class="dropdown-item" href="fen3">3. Ünite - Kuvvetin Etkileri ve Fiziksel Olaylar</a></li>
                          <li><a class="dropdown-item" href="fentest">Fen Bilimleri Sınavı</a></li>
                        </ul>
                    </div>
                    <div class="dropdown">
                        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                          English
                        </button>
                        <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                          <li><a class="dropdown-item" href="eng1">Unit-1 Classroom Rules</a></li>
                          <li><a class="dropdown-item" href="eng2">Unit-2 Nationality</a></li>
                          <li><a class="dropdown-item" href="eng3">Unit-3 Cartoon Characters</a></li>
                          <li><a class="dropdown-item" href="engtest">English Exam</a></li>
                        </ul>
                    </div>
                    <div>
                        <button type="button" class="btn btn-warning">Kayıt Ol</button>
                        <button type="button" class="btn btn-success">Giriş Yap</button>
                    </div>
                </div>
            </nav>
        <div class="parent">
                <div>
                        <h1>4.Sınıf Fen Bilimleri Dersi - 3. Ünite</h1>
                        <h1>KUVVETİN ETKİLERİ</h1>

                </div>
                <div>
                        <h2 class="bg-secondary">KUVVETİN CİSİMLER ÜZERİNDEKİ ETKİSİ</h2>
                        <h3 class="bg-warning">KUVVET, CİSİMLERİ NASIL ETKİLER?</h3>
                        <p>Kapalı bir kapıyı açmak için kapıyı iterek veya çekerek ona bir kuvvet uygularız. Bir
                                süngeri sıktığımızda süngere bir kuvvet uygulamış oluruz. Yuvarlanan bir bilyeyi yine
                                kuvvet uygulayarak durdurabiliriz. Günlük hayatta farkında olmadan ya da farkında
                                olarak pek çok nesneye kuvvet uygularız. Kuvvet, cisimlerin hareket durumlarını ya da
                                şeklini değiştiren bir etkidir. Şimdi bu etkileri inceleyelim.</p>
                        <h4 class="bg-success">Kuvvetin Cisimlerin Hareketine Etkisi</h4>
                        <p>Kuvvetin cisimlerin hareketi üzerindeki etkileri nasıldır? Bunu gözlemlemek için bir
                                etkinlik yapalım.</p>
                        <p>
                                Bir koltuğun yeri değiştirilmek istendiğinde koltuk itilir veya çekilir. Bu kuvvet
                                uygulanırken
                                başta hareketsiz olan koltuk hareket eder. Çünkü kuvvetin etkilerinden biri duran
                                cismi hareket ettirebilmesidir. Duran topa vurulduğunda, açık çekmece itildiğinde
                                yine cisimleri hareket ettiren bir kuvvet uygulanmış olur. Etkinlikte de duran oyuncak
                                arabanın, arkadan uyguladığımız kuvvet sonucunda hareket ettiğini gözlemledik.
                        </p>
                        <img src="images/fen_images/3.unite/1.png" alt="">

                        <p>Hareket hâlindeki bir cisme hareket yönünde bir kuvvet uygulandığında cisim hızlanır.
                                Örneğin pistte hareket etmeye başlayan bir uçakta, gaz kolu itildiğinde uçağın ileri
                                doğru hareketi yönünde bir kuvvet uygulanmış olur. Bunun sonucunda uçak daha da
                                hızlanır ve sonra havalanır. Yaptığımız etkinlikte hareket eden oyuncak arabaya hareketi
                                yönünde kuvvet uygulayarak arabanın hızlandığını gözlemledik.</p>
                        <img src="images/fen_images/3.unite/2.png" alt="dünyanın katmanları" class="center">
                        <p>Kuvvetin cisimlerin hareketine bir başka etkisi de onları yavaşlatma ve durdurmadır.
                                Hareket eden bir cismin hareketine zıt yönde bir kuvvet uygulandığında cisim yavaşlar
                                veya durabilir. Yokuş aşağı giden bir oyuncak kamyonu arkasından çekerek bu şekilde
                                yavaşlatabilir veya durdurabiliriz. Halat çekme oyununda da rakip takımın çektiği ipe
                                zıt yönlü kuvvet uygulayarak ipin hareketini yavaşlatıp durdurabiliriz.</p>
                        <img src="images/fen_images/3.unite/3.png" alt="">
                        <p>Bisiklet sürücüsü sağa ya da sola dönmek için direksiyonu çevirir. Uygulanan bu
                                kuvvet sonucunda düz giden tekerlekler sağa veya sola doğru gitmeye başlar. Yani
                                bisiklet yön değiştirir. Bu durum, kuvvetin cisimlerin hareket yönünü değiştirebildiğini
                                gösterir. Bir voleybolcu da topa kuvvet uygulayıp bu sayede topun yönünü değiştirerek
                                topu istediği yere gönderebilir.</p>
                        <img src="images/fen_images/3.unite/4.png" alt="">
                        <h4 class="bg-success">Kuvvetin Cisimlerin Şekline Etkisi</h4>
                        <p>Yandaki fotoğrafı inceleyelim. Bu araç
                                hızla giderken bir direğe çarparak durmuş
                                ve bu hâle gelmiştir. Arabanın şekli neden
                                değişmiştir? Kuvvetin cisimlerin şekline bir
                                etkisi var mıdır? Bunu gözlemlemek için
                                aşağıdaki etkinliği yapalım.</p>
                        <img src="images/fen_images/3.unite/5.png" alt="">

                        <p>Bir terzi elindeki kumaşı makasla keserek
                                ona istediği şekli verebilir. Bir börek
                                ustası hamura bastırarak onu şekillendirebilir.
                                Bir marangoz dümdüz bir tahta
                                parçasını keserek ona şekil verebilir. Bu
                                örneklerden anlaşılacağı gibi cisimlere
                                uygulanan kuvvetin bir etkisi de cismin
                                şeklinin değişmesidir. Yaptığımız etkinlikte;
                                lastiğin, kâğıdın, süngerin ve kumaşın
                                şeklinin onlara uygulanan farklı kuvvetler
                                sayesinde değiştiğini gözlemledik.</p>
                        <img src="images/fen_images/3.unite/6.png" alt="">
                        <p>Bir cam bardak yere sert bir şekilde
                                düştüğünde kırılır ve paramparça olabilir. Metal bir çubuk eğilip büküldüğünde o şekilde
                                kalır. Bardak ve metal çubuğa uygulanan kuvvetler onların şeklini değiştirebilir.
                                Ancak uygulanan bu kuvvetler ortadan kalktığında bu cisimler tekrar eski şekillerini
                                almaz.
                                Böyle cisimlere esnek olmayan cisim adı verilir. Tahta, cam, demir gibi cisimler
                                esnek olmayan cisimlerdir.</p>
                        <img src="images/fen_images/3.unite/7.png" alt="">
                </div>
        </div>
        <div class="parent">
                <div>
                        <h2 class="bg-secondary">MIKNATIS NEDİR?</h2>
                </div>
                <div>
                        <p>Demir, nikel, kobalt gibi maddelere etki ederek bunları çekme özelliği gösteren cisimlere
                                mıknatıs adı verilir. Mıknatıslar farklı şekillerde olabilir. Çubuk, U, halka, at nalı
                                şeklinde mıknatıslar en çok kullanılan mıknatıslardandır. Mıknatısların büyüklüğü de
                                değişkenlik gösterebilir. Bir silgi kadar küçük veya bir araba kadar büyük mıknatıslar
                                olabilir. Mıknatısın büyüklüğü arttıkça cisimlere uyguladığı çekim kuvveti de artar.</p>
                        <p>Doğal ve yapay olmak üzere iki çeşit mıknatıs vardır. İçerisinde özel maddeler bulunan
                                bazı kayaçlar doğal mıknatıslara örnektir. Buzdolabı süslerinin arkasında,
                                laboratuvarlarda
                                kullandığımız mıknatıslar ise yapay mıknatıslardır.</p>
                        <img src="images/fen_images/3.unite/8.png" alt="">
                        <p>İster doğal ister yapay olsun tüm mıknatısların iki ucu vardır. Bunlara mıknatısların
                                kutupları denir. Kutuplar, mıknatısın çekme kuvvetinin en güçlü olduğu bölgelerdir. Bu
                                uçlardan biri N (kuzey) kutbu, diğeri S (güney) kutbu olarak adlandırılır. Bir mıknatıs
                                ne kadar küçük parçalara bölünürse bölünsün yine mıknatıslık özelliği gösterir ve yine
                                mıknatısın N ve S kutbu olur. Bu durum aşağıdaki görselde ifade edilmiştir.</p>
                        <img src="images/fen_images/3.unite/9.png" alt="">
                        <p>Mıknatıslar etki ettikleri maddelere bir kuvvet uygular. Bu kuvvet itme ya da çekme
                                kuvveti olabilir. Etkinlikte de gözlemlediğimiz gibi mıknatısın aynı kutupları birbirini
                                iterken
                                farklı kutupları birbirini çeker. Bu durum bütün mıknatıslar için geçerlidir.</p>
                        <p>Çevremizdeki cisimler birbirinden farklı yapı ve özellikte olabilir. Mıknatıslar sadece;
                                yapısında demir, nikel, kobalt gibi maddeleri içeren cisimlere etki eder. Metal ataş ve
                                toplu iğne bu maddeleri içerdiği için etkinlikte mıknatısın bunları çektiğini
                                gözlemledik.
                                Defter, bakır tel, kumaş parçası ve tahta parçası ise mıknatısın çekmediği maddeleri
                                içerir.</p>
                        <img src="images/fen_images/3.unite/10.png" alt="">
                        <p>Etkinlik sırasında mıknatısı metal ataşa yaklaştırdığımızda ataşın mıknatısa doğru
                                hızla yaklaştığını fark ettiniz mi? Bunun nedeni mıknatısın ataşa uyguladığı çekim
                                kuvvetidir. Cisimlere uygulanan bazı kuvvetlerin temas gerektiren kuvvetler olduğunu
                                öğrenmiştik. Örneğin çekmeceyi iterken çekmeceye temas gerektiren bir kuvvet
                                uygulanır. Ancak mıknatısın metal ataşa uyguladığı kuvvet, temas gerektirmeyen bir
                                kuvvettir. Etkinlikte de mıknatısın ataşa temas etmeden çekme kuvveti uyguladığını
                                gözlemledik.</p>
                </div>
        </div>
        <div class="parent">
                <div>
                        <h2 class="bg-secondary">MIKNATISLARIN GÜNLÜK YAŞAMDAKİ KULLANIM ALANLARI</h2>
                </div>
                <div>
                        <p>Mıknatısın temas gerektirmeyen bir kuvvet uygulaması, cisimleri itme ya da çekme
                                gibi etkilerinin olması günlük hayatta oldukça işe yarar. Mıknatısın günlük yaşamdaki
                                kullanım alanları neler olabilir? Bunlardan bazılarını bir sonraki sayfada yer alan
                                örnekleri
                                inceleyerek öğrenelim.
                        </p>
                </div>
                <div>
                        <img src="images/fen_images/3.unite/11.png" alt=""><br>
                        <img src="images/fen_images/3.unite/12.png" alt=""><br>
                        <img src="images/fen_images/3.unite/13.png" alt=""><br>
                </div>
                <br>
                <div>
                        <img src="images/fen_images/3.unite/14.png" alt=""><br>
                        <img src="images/fen_images/3.unite/15.png" alt=""><br>
                        <img src="images/fen_images/3.unite/16.png" alt=""><br>
                </div>
                <div>
                        <p>
                                Teknolojinin gelişmesiyle birlikte mıknatısların
                                kullanım alanları da artmaktadır.
                                Mıknatısların itme ve çekme özelliklerinden
                                yararlanılarak yeni kullanım alanları doğmaktadır.
                                Bunlardan biri, günümüzde ulaşımda
                                büyük kolaylıklar sağlayan maglev
                                trenlerdir. Bu trenler raylara ve trenin altına
                                döşenen mıknatıslar aracılığıyla çalışmaktadır.
                                Saatte yaklaşık 500 km hıza ulaşabilen
                                bu trenlerin teknolojinin gelişmesiyle daha da hızlanması beklenmektedir. Mıknatısın
                                yeni kullanım alanları başka neler olabilir? Gelecekte mıknatıslar başka hangi
                                alanlarda kullanılabilir? Fikirlerimizi arkadaşlarımızla paylaşarak tartışalım.
                        </p>
                </div>


        </div>
        <p class="endOfUnitParagraph">3. Ünitenin Sonu</p>
        <div class="parent">
                <a href="fen2" class="btn btn-primary" role="button">Fen Bilimleri 2. Ünite</a>
                <a href="index" class="btn btn-dark" role="button">Anasayfa</a>
                <a href="fentest" class="btn btn-primary" role="button">Fen Bilimleri Sınavı</a>
        </div>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
</body>

</html>