<!DOCTYPE html>
<html lang="en">

<head>
        <title>Fetch using MySQL and Node.js</title>
        <script>
                function myFunction(userData) {
                        document.getElementById('pp_1').submit();
                                        if (userData.length != 0) {
                                var i = 1;
                                userData.forEach(function (data) {
                                        i++;
                                        alert(userData);
                                })
                        }
                        // The function returns the product of p1 and p2
                }
        </script>
</head>
<body>
        <div class="table-data">
                <h2>Display Data using Node.js & MySQL</h2>
                <% if(userData.length!=0){ var i=1; userData.forEach(function(data){ %>
                        <form class="contact" method="post" action="#" name="pp" id="pp_<%=data.test_id%>">
                                <table border="1">
                                        <tr>
                                                <th>
                                                        Soru <%=i;%>
                                                </th>
                                        </tr>
                                        <tr>
                                                <td>
                                                        <img src="<%= data.question %>" alt="<%= data.name %>">
                                                </td>
                                        </tr>
                                        <tr>
                                                <th>
                                                        <input type="radio" id="answer_a_<%=data.test_id%>"
                                                                name="answer" value="a">
                                                        <label for="answer_a">A</label>
                                                        <input type="radio" id="answer_b_<%=data.test_id%>"
                                                                name="answer" value="b">
                                                        <label for="answer_b">B</label>
                                                        <input type="radio" id="answer_c_<%=data.test_id%>"
                                                                name="answer" value="c">
                                                        <label for="answer_c">C</label>
                                                        <input type="radio" id="answer_d_<%=data.test_id%>"
                                                                name="answer" value="d">
                                                        <label for="answer_d">D</label>
                                                </th>
                                        </tr>
                                </table>
                        </form>
                        <pre id="#<%=data.test_id%>"></pre>
                        <% i++; }) } else{ %>
                                <tr>
                                        <td colspan="7">No Data Found</td>
                                </tr>
                                <% } %>
                                        <submit type='button' onclick="myFunction('<%userData%>')"
                                                value='Click to Submit Both Forms'>
                                                kaydet
                                        </submit>

        </div>
</body>

</html>